/* Tables */

.table {
  margin-bottom: 0;
<<<<<<< HEAD
  color: $text-muted;
  
=======
  color: $text-;

>>>>>>> f4147494f822cb2c148989a49260b1bf364e37f8

  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-weight: $font-weight-medium;
<<<<<<< HEAD
      color: $text-muted; 
      
=======
      color: $text-muted;

>>>>>>> f4147494f822cb2c148989a49260b1bf364e37f8

      i {
        margin-left: 0.325rem;
      }
    }
  }

  th,
  td {
    vertical-align: middle;
    font-size: $default-font-size;
    line-height: 1;
    white-space: nowrap;

    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }

    .badge {
      margin-bottom: 0;
    }
  }

  &.table-borderless {
    border: none;

    tr,
    td,
    th {
      border: none;
    }
  }
<<<<<<< HEAD
  .table-dark {
    background: $table-dark-bg;
  }
=======

  .table-dark {
    background: $table-dark-bg;
  }

>>>>>>> f4147494f822cb2c148989a49260b1bf364e37f8
  &.table-contextual {
    color: #ffffff;
  }
}