* {
  margin: 0;
  padding: 0;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: sans-serif;
}

html {
  height: 100%;
}

/*Background color*/
#grad1 {
  width: 100%;
}
.error1{
  color: red;
}
.error{
  color: red;
}
.gender{
  background-color: #2a3038;
  height: 39px;
  margin-top: 2px;
  padding-top: 9px;
    padding-left: 6px;
}
select.form-control{
  margin-bottom: 7px;
  color: #fff !important;
}
/*form styles*/
#msform {
  position: relative;
  background: #191c24;
  margin-top: 20px;
  width: 198%;
  height: 1000px;
}

#msform fieldset .form-card {
  background: #191c24;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  border: 3px solid ghostwhite;


  /*stacking fieldsets above each other*/
  position: relative;
}

#msform fieldset {
  background: #191c24 ;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  border: 3px solid ghostwhite;
  /*stacking fieldsets above each other*/
  position: relative;
  padding-top: 10px;
  padding:10px ;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform fieldset .form-card {
  text-align: left;
  color: #9e9e9e;
}

#msform input,
#msform textarea {
  padding: 0px 8px 4px 8px;
  border: none;
  /* border-bottom: 1px solid #ccc; */
  border-radius: 0px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  /* border: none; */
  font-weight: bold;
  outline-width: 0;
  border: 1px solid green;
  color: #0cb8d6;
  
}

/*Blue Buttons*/
#msform .action-button {
  width: 100px;
  background: #4680ff;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px;
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

/*FieldSet headings*/
.fs-title {
  font-size: 25px;
  color: #2c3e50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #00ff0d;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
  content: "\f061";
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   font-weight: 900;
   text-decoration: inherit;
}

#progressbar #personal:before {
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   font-weight: 900;
   text-decoration: inherit;
  content: "\f007";
}

#progressbar #payment:before {
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   font-weight: 900;
   text-decoration: inherit;
  content: "\f09d";
}

#progressbar #confirm:before {
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   font-weight: 900;
   text-decoration: inherit;
  content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #050505;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #0ada14;
}

/*Imaged Radio Buttons*/
.radio-group {
  position: relative;
  margin-bottom: 25px;
}

.radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px;
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image {
  width: 100%;
  object-fit: cover;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #40d333 !important;
}
