<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add Role</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action=""><br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="Name"> Holiday Name: <span class="require">*</span></label>
                                    <input type="text" onKeyPress="return ValidateAlpha(event);" required
                                        oninvalid="this.setCustomValidity('Enter Holiday Name Here')"
                                        oninput="this.setCustomValidity('')" class="form-control"
                                        name="holiday_name" id="username" placeholder="Enter Holiday Name"
                                        value="">
                                </div>
                                <div class="col-6">
                                    <label for="Name">Date: <span class="require">*</span></label>
                                    <input type="date" required
                                        oninvalid="this.setCustomValidity('Enter Holiday Date Here')"
                                        oninput="this.setCustomValidity('')" class="form-control"
                                        name="holiday_date" id="firstname" placeholder="" value="">
                                </div>
                                <div class="col-12 mt-5">
                                    <button type="submit" name="submit" id="submit"
                                        class="btn btn-primary">Submit</button>
                                    <a class="btn btn-danger" href="/roleListing">Back</a>
                                </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

</script>

