<!DOCTYPE html>
<html>

<body>

    <!-- <h2>HTML Forms</h2> -->

    <form method="post" enctype="multipart/form-data">
        <label for="fname">file:</label><br>
        <input type="file" id="fname" name="file"><br>

        <input type="submit" value="Submit">
    </form>


</body>

</html>