<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>


  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/navbar.ejs') %>
            <div class="main-panel">
              <div class="content-wrapper">
                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                          <div class="card">
                  
                            <div class="card-body">
                              <table class="table" id="myTable">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>total leaves</th>
                  
                                    <th>taken leaves</th>
                                    <th>left leaves</th>
                  
                                  </tr>
                                </thead>
                                <tbody>
                                  <% const totaldate=[] %>
                  
                                    <% let days_difference=0 %>
                  
                                      <% if (employeeData) { %>
                                        <% var i=1; %>
                                          <% employeeData.forEach(function(u) { %>
                                            <% let sum=0; %>
                                              <tr>
                                                <td>
                                                  <%= i++ %>
                                                </td>
                                                <td>
                                                  <%= u.firstname %>
                                                </td>
                  
                  
                                                <td>
                                                  <%=leaves %>
                                                </td>
                  
                  
                                                <% u.leaves.forEach(function(r) { %>
                                                  
                                                    <% if(r.status=="APPROVE" ) { %>
                  
                                                      <% const DF=new Date(r.datefrom) %>
                                                        <% const DT=new Date(r.dateto) %>
                                                          <% const time_difference=DT.getTime()- DF.getTime() %>
                                                            <% days_difference=time_difference / (1000 * 60 * 60 * 24); %>
                  
                  
                                                              <% sum +=days_difference; %>
                                                                <% } %>
                                                                  <% }) %>
                  
                                                                    <td>
                                                                      <%= sum %>
                                                                    </td>
                                                                    <td>
                                                                      <%= leaves - sum %>
                                                                    </td>
                                                                    <% }) %>
                                                                      <% } %>
                  
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              </div>
              <%- include('partials/footer.ejs') %>

  </body>

</html>
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }



</script>