<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/css/sandip.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />]

    <script>
        var genderValue = "<%= loggeduserdata.gender %>";
    </script>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                
                                    <div class="col-lg-8">
                                        <div class="card mt-5">
                                            <div class="card-body">
                                                <% if(success.length>0) {%>
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <%= success %>
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                    </div>
                                                    <% } %>
                                
                                                        <% if(alert && alert.length) {%>
                                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                                <%= alert %>
                                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                            </div>
                                                            <% } %>
                                
                                                                <form action="" method="post" >
                                                                    <label>Current Password</label>
                                                                    <div class="form-group pass_show">
                                                                        <input type="password" value="" id="password" name="oldpassword" class="form-control"
                                                                            placeholder="Current Password" >
                                                                            <i class="bi bi-eye-slash" id="togglePassword" style="margin-left: 975px; margin-top: -30px; position: absolute;"></i>
                                                                        </div>
                                                                    <label>New Password</label>
                                                                    <div class="form-group pass_show">
                                                                        <input type="password" value="" id="password1" name="newpassword" class="form-control"
                                                                            placeholder="New Password" >
                                                                            <i class="bi bi-eye-slash" id="togglePassword1" style="margin-left: 975px; margin-top: -30px; position: absolute;"></i>
                                                                    </div>
                                                                    <label>Confirm Password</label>
                                                                    <div class="form-group pass_show">
                                                                        <input type="password" name="cpassword" id="password" value="" class="form-control"
                                                                            placeholder="Confirm Password" >
                                                                           
                                                                    </div>
                                
                                                                    <input type="submit" class="btn btn-primary px-4" value="Save Password">
                                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>

    </body>

</html>
<script>


       const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });

       const togglePassword1 = document.querySelector("#togglePassword1");
        const password1 = document.querySelector("#password1");

        togglePassword1.addEventListener("click", function () {
            // toggle the type attribute
            const type = password1.getAttribute("type") === "password" ? "text" : "password";
            password1.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });
    

       


    $(document).ready(function ($) {

        $("#changepassword").validate({
            rules: {
                oldpassword: {
                    required: true,
                },
                newpassword: {
                    required: true,
                },
                cpassword: {
                    required: true,
                },
            },
            messages: {
                // personal_email: "Please enter your valid Personal Email",
                oldpassword: {
                    required: "Old password is reqired",
                },
                newpassword: {
                    required: "New password is required",

                },
                cpassword: {
                    required: "Confirm  password is required",
                },
                technology: {
                    required: "technology is required",

                },
                user_id: {
                    required: "User name is required",

                },


            },

        });
    });

</script>