

<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />
    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="pcoded-main-container">
                                    <div class="content-wrapper">
                                        <div class="content-header">
                                            <div class="container-fluid">
                                                <div class="row mb-2">
                                                </div>
                                            </div>
                                        </div>
                                        <section class="content">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h1 class="card-title">Create Project</h1>
                                                </div>
                                                <div class="card-body">
                                                    <form method="post" action="" id="ProjectForm"><br>
                                                        <div class="row">
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="title">Title :<span class="require">*</span></label>
                                                                <input type="text" onKeyPress="return ValidateAlpha(event);"
                                                                    oninvalid="this.setCustomValidity('Enter Project Title Here')"
                                                                    oninput="this.setCustomValidity('')" class="form-control" name="title" id="title"
                                                                    placeholder="Enter Project Title" value="" required>
                                                            </div>
                                
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="short_description">Short Description:</label>
                                                                <input type="text" class="form-control" name="short_description" id="short_description"
                                                                    placeholder="Enter Short Description" value="">
                                                            </div>
                                
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="start_date">start date :<span class="require">*</span></label>
                                                                <input type="date" oninvalid="this.setCustomValidity('Enter Project Start Date')"
                                                                    oninput="this.setCustomValidity('')" class="form-control" name="start_date"
                                                                    id="start_date" value="">
                                                            </div>
                                
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="end_date">End date:</label>
                                                                <input type="date" class="form-control" name="end_date" id="end_date">
                                                                <span class="error" id="DateError"></span>
                                                            </div>
                                
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="status"> Status :</label>
                                                                <select class="form-control" name="status">
                                                                    <option value="" selected="true">Select Status</option>
                                                                    <option value="on Hold">on Hold</option>
                                                                    <option value="in Progress">in Progress</option>
                                                                    <option value="Completed">Completed</option>
                                                                </select>
                                                            </div>
                                
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="Name"> Project Type : <span class="require">*</span></label>
                                                                <select class="form-control" name="project_type" required>
                                                                    <option value="" selected="true">Select Project Type</option>
                                                                    <option value="Fixed Cost">Fixed Cost</option>
                                                                    <option value="Dedicated">Dedicated</option>
                                                                    <option value="Hourly">Hourly</option>
                                                                </select>
                                                            </div>
                                
                                
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                
                                                                <select data-placeholder="Select technology" multiple class="chosen-select form-control"
                                                                    name="technology">
                                                                    <option value=""></option>
                                                                    <% if (TechnologyData) { %>
                                                                        <% for(var i=0; i < TechnologyData.length; i++) { %>
                                                                            <option value="<%= TechnologyData[i].technology %>">
                                
                                                                                <%= TechnologyData[i].technology %>
                                                                            </option>
                                                                            <% } %>
                                                                                <% } %>
                                
                                                                </select>
                                                            </div>
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <select data-placeholder="Select User " multiple class="chosen-select form-control"
                                                                    name="user_id">
                                                                    <option value=""></option>
                                                                    <% if (userdata) { %>
                                                                        <% for(var i=0; i < userdata.length; i++) { %>
                                                                            <option value="<%= userdata[i]._id %>">
                                
                                                                                <%= userdata[i].firstname %>
                                                                            </option>
                                                                            <% } %>
                                
                                                                                <% } %>
                                
                                                                </select>
                                
                                                            </div>
                                
                                                            <div class="col-12 mt-5">
                                                                <button type="submit" name="submit" id="submit" class="btn btn-primary"
                                                                    onclick="check()">Submit</button>
                                                                <a class="btn btn-danger" href="/projectslisting">Back</a>
                                                            </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>
                            <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    </body>

</html>
<script>
    $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
    })
    $(document).ready(function () {
        $('#end_date').blur(function () {
            var startDate = new Date($('#start_date').val());
            // alert(startDate)
            var endDate = new Date($('#end_date').val());

            if (startDate > endDate) {
                // $('#DateError').text('End Date Is More Than Start Date');
                $("#DateError").text("End Date Is More Than Start Date");
                return false;
            } else {
                $("#DateError").text("");
            }
        });
    });
    $(document).ready(function () {
        $('#start_date').blur(function () {
            var startDate = new Date($('#start_date').val());
            var endDate = new Date($('#end_date').val());

            if (startDate > endDate) {
                // $('#DateError').text('End Date Is More Than Start Date');
                $("#DateError").text("End Date Is More Than Start Date");
                return false;
            } else {
                $("#DateError").text("");
            }
        });
    });


    $(document).ready(function ($) {

        $("#ProjectForm").validate({
            rules: {
                title: {
                    required: true,
                },
                start_date: {
                    required: true,
                    date: true

                },
                 project_type: {
                    required: true,
                },
                 technology: {
                    required: true,
                },
                 user_id: {
                    required: true,
                },


            },
            messages: {
                // personal_email: "Please enter your valid Personal Email",
                title: {
                    required: "title is reqired",
                },
                start_date: {
                    required: "Project date is required",
                   
                },
                project_type: {
                    required: "Project type is required",
                },
                technology: {
                    required: "technology is required",
                   
                },
                user_id: {
                    required: "User name is required",
                  
                },


            },

        });
    });

</script>