<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/formwizard.css"> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <section class="content">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1 class="card-title">Edit Employees</h1>
                                        </div>
            
                                        <!-- -------------------------------------------- -->
                                        <div class="container-fluid" id="grad1">
                                            <div class="row mt-0 ml-3">
                                                <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                                                    <!-- <div class="card px-0 pt-4 pb-0 mt-3 mb-3"> -->
                                                    <div class="row">
                                                        <div class="col-md-12 mx-0">
                                                            <form method="post" id="msform" action="" enctype="multipart/form-data">
                                                                <!-- progressbar -->
                                                                <ul id="progressbar">
                                                                    <li class="active" id="account"><strong>Login
                                                                            Details</strong></li>
                                                                    <li id="personal"><strong>Personal Details</strong>
                                                                    </li>
                                                                    <li id="payment"><strong>Bank Details</strong></li>
                                                                    <li id="confirm"><strong>Finish</strong></li>
                                                                </ul>
                                                                <!-- fieldsets -->
                                                                <fieldset>
                                                                    <div class="form">
                                                                        <input type="text" class="form-control" name="user_name"
                                                                            id="user_name" placeholder="Enter Your Username"
                                                                            value="<%= data.user_name %>" autocomplete="off">
                                                                        <span id="unameError" style="text-align:left"
                                                                            class="error1"></span>
                                                                    </div>
                                                                    <div class="form">
                                                                        <input type="email" class="form-control"
                                                                            name="personal_email" id="personal_email"
                                                                            placeholder="Enter Your Personal Email"
                                                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                                                            value="<%= data.personal_email %>" autocomplete="off"
                                                                            required>
                                                                        <span id="emailError" class="error1"></span>
                                                                    </div>
            
                                                                    
                                                                    <a id="nxtButton" class="next action-button btn btn-danger" aria-disabled="true">Next step</a>
                                                                    <a class="btn btn-danger" role="button"  href="/userListing">Back</a>
                                                                </fieldset>
            
            
            
            
                                                                <fieldset>
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <select class="form-control" id="role_id"
                                                                                name="role_id">
            
                                                                                <option> select Role</option>
                                                                                <% if (roles) { %>
                                                                                    <% var isSelected='' %>
                                                                                        <% for(var i=0; i < roles.length; i++) { %>
            
                                                                                            <%
                                                                                                if(roles[i]._id.toString().includes(data.role_id.toString())){%>
                                                                                                <% isSelected='selected' %>
            
                                                                                                    <% }else{ %>
                                                                                                        <% isSelected='' %>
                                                                                                            <% } %>
                                                                                                                <option
                                                                                                                    value="<%= roles[i]._id %>"
                                                                                                                    <%=isSelected %>
                                                                                                                    >
                                                                                                                    <%= roles[i].role_name
                                                                                                                        %>
                                                                                                                </option>
                                                                                                                <% } %>
                                                                                                                    <% } %>
            
            
            
            
            
            
            
                                                                            </select>
                                                                            <span id="roleError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="emp_code"
                                                                                id="emp_code" placeholder="Enter Employee Code"
                                                                                value="<%= data.emp_code %>">
                                                                            <span id="empError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <select class="form-control" id="reporting_user_id"
                                                                                name="reporting_user_id">
                                                                                <option value="select">Select
                                                                                    Reporting Users
                                                                                </option>
                                                                                <% if (reportingData) { %>
                                                                                    <% for(var i=0; i < reportingData.length; i++) {
                                                                                        %>
                                                                                        <%
                                                                                            if(data.reporting_user_id.toString().includes(reportingData[i]._id)){%>
                                                                                            <% isSelected='selected' %>
                                                                                                <% }else{ %>
                                                                                                    <% isSelected='' %>
                                                                                                        <% //console.log("id",reportingData[i]._id)
                                                                                                            %>
                                                                                                            <% } %>
                                                                                                                <option
                                                                                                                    value="<%= reportingData[i]._id %>"
                                                                                                                    <%=isSelected %>
                                                                                                                    >
                                                                                                                    <%= reportingData[i].user_name
                                                                                                                        %>
                                                                                                                </option>
                                                                                                                <% } %>
                                                                                                                    <% } %>
                                                                            </select>
                                                                            <span id="repError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
            
                                                                            <input type="text" class="form-control" name="firstname"
                                                                                id="firstname" placeholder="Enter Your First Name"
                                                                                value="<%= data.firstname %>">
                                                                            <span id="fnameError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control"
                                                                                name="middle_name" id="middle_name"
                                                                                placeholder="Enter Your Middle Name"
                                                                                value="<%= data.middle_name %>">
                                                                            <span id="mnameError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="last_name"
                                                                                id="last_name" placeholder="Enter Your Last Name"
                                                                                value="<%= data.last_name %>">
                                                                            <span id="lnameError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <div class="gender">
                                                                                <table>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td><strong>Select Gender :
                                                                                                </strong></td>
                                                                                            <td class="pl-3">Male</td>
                                                                                            <td class="pl-1"><input type="radio" id="gender_male"
                                                                                                name="gender" value="male" required  <%= (data.gender == 'male') ? 'checked=checked' : ''; %>></td>
                                                                                            <td class="pl-3">Female</td>
                                                                                            <td class="pl-1"><input type="radio" id="gender_female"
                                                                                                name="gender" value="female" <%= (data.gender == 'female') ? 'checked=checked' : ''; %>></td>
                                                                                            <td class="pl-3">Other</td>
                                                                                            <td class="pl-1"><input type="radio" id="other" name="gender"
                                                                                                value="other" <%= (data.gender == 'other') ? 'checked=checked' : ''; %>></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <span id="genderError" class="error"></span>
                                                                        </div>
                                                                      
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="dob"
                                                                                id="dob" placeholder="Enter Your Date of Birth"
                                                                                onfocus="(this.type='date')" max="2004-12-31"
                                                                                value="<%= data.dob %>">
                                                                            <span id="dobError" class="error"></span>
            
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="doj"
                                                                                id="doj" placeholder="Enter Your Date of Join"
                                                                                onfocus="(this.type='date')"
                                                                                value="<%= data.doj %>">
                                                                            <span id="dojError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control"
                                                                                name="company_email" id="company_email"
                                                                                placeholder="Enter Your Company Email"
                                                                                value="<%= data.company_email %>">
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="mo_number"
                                                                                id="mo_number"
                                                                                placeholder="Enter Your Mobile Number"
                                                                                value="<%= data.mo_number %>">
                                                                            <span id="moError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control"
                                                                                name="pan_number" id="pan_number"
                                                                                placeholder="Enter Your Pan Card Number"
                                                                                value="<%= data.pan_number %>">
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control"
                                                                                name="aadhar_number" id="aadhar_number"
                                                                                placeholder="Enter Your Aadhar Number"
                                                                                value="<%= data.aadhar_number %>">
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="add_1"
                                                                                id="add_1" placeholder="Enter Your Address Line 1"
                                                                                value="<%= data.add_1 %>">
                                                                            <span id="add1Error" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="add_2"
                                                                                id="add_2" placeholder="Enter Your Address Line 2"
                                                                                value="<%= data.add_2 %>">
                                                                            <span id="add2Error" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <select name="country" class="countries form-control"
                                                                                id="">
                                                                                <option value="">Select Country</option>
                                                                                <option value="India" <%= (data.country == 'India') ? 'selected=selected' : ''; %>> India </option>
                                                                              
                                                                            </select>
                                                                            <span id="countryError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <select name="state" class="states form-control" id="">
                                                                                <option value="">Select State</option>
                                                                                <option value="Gujarat" <%= (data.state == 'Gujarat') ? 'selected=selected' : ''; %>>
                                                                                    Gujarat
                                                                                </option>
                                                                            </select>
                                                                            <span id="stateError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <select name="city" class="cities form-control" id="">
                                                                                <option value="">Select City</option>
                                                                                <% if (citydata) { %>
                                                                                    <% for(var i=0; i < citydata.length; i++) { %>
                                                                                        <%
                                                                                            if(citydata[i].city.includes(data.city)){%>
                                                                                            <% isSelected='selected' %>
                                                                                                <% }else{ %>
                                                                                                    <% isSelected='' %>
                                                                                                        <% } %>
            
                                                                                                            <option
                                                                                                                value="<%= citydata[i].city %>"
                                                                                                                <%=isSelected %> >
            
                                                                                                                <%= citydata[i].city
                                                                                                                    %>
                                                                                                            </option>
                                                                                                            <% } %>
                                                                                                                <% } %>
                                                                            </select>
                                                                            <span id="cityError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="text" class="form-control" name="pincode"
                                                                                id="pincode" placeholder="Enter Your Pincode"
                                                                                value="<%= data.pincode %>">
                                                                            <span id="pincodeError" class="error"></span>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <input type="file" class="form-control" name="photo"
                                                                                id="photo" placeholder="Enter Role Description"
                                                                                value="">
                                                                            <span style="margin-bottom: -49px;
                                                                            margin-left: 209px;"><img
                                                                                    src="/public/images/<%=data.photo%>"
                                                                                    height="50px" alt="user-profile"
                                                                                    style="margin-top: -74px" height="38px"  width="50px"></span>
                                                                            <input type="hidden" class="form-control"
                                                                                name="old_image" id="photo"
                                                                                placeholder="Enter Role Description"
                                                                                value="<%= data.photo %>">
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <select name="status" class="form-control" id="">
            
                                                                                <option value="" disabled selected>Employee status
                                                                                </option>
                                                                                <option value="Pending" id="pending" <%= (data.status == 'Pending') ? 'selected=selected' : ''; %>>Pending
                                                                                   
                                                                                </option>
                                                                                <option value="Active" id="active" <%= (data.status == 'Active') ? 'selected=selected' : ''; %>>Active 
                                                                                </option>
                                                                                <option value="InActive" id="inactive" <%= (data.status == 'InActive') ? 'selected=selected' : ''; %>>InActive
                                                                                   
                                                                                </option>
                                                                                <option value="ExEmployee" id="exemployee">
                                                                                    ExEmployee</option>
            
                                                                            </select>
                                                                            <span id="cityError" class="error"></span>
                                                                        </div>
            
            
                                                                    </div>
                                                                    <input type="button" name="previous"
                                                                        class="previous action-button-previous" value="Previous" />
                                                                    <input type="button" name="next" class="next1 action-button"
                                                                        value="Next Step" />
                                                                </fieldset>
                                                                <fieldset>
                                                                    <div class="form">
                                                                        <input type="text" class="form-control"
                                                                            name="bank_account_no" id="bank_account_no"
                                                                            placeholder="Enter Your Bank Account number"
                                                                            value="<%= data.bank_account_no %>">
                                                                        <span id="accError" class="error"></span>
                                                                    </div>
                                                                    <div class="form">
                                                                        <input type="text" class="form-control" name="bank_name"
                                                                            id="bank_name" placeholder="Enter Your Bank Name  "
                                                                            value="<%= data.bank_name %>">
                                                                        <span id="bnameError" class="error"></span>
                                                                    </div>
                                                                    <div class="form">
                                                                        <input type="text" class="form-control" name="ifsc_code"
                                                                            id="ifsc_code" placeholder="Enter Your Bank IFSC code "
                                                                            value="<%= data.ifsc_code %>">
                                                                        <span id="ifscError" class="error"></span>
            
                                                                    </div>
                                                                    <input type="button" name="previous"
                                                                        class="previous action-button-previous" value="Previous" />
                                                                    <button type="submit" name="submit" id="submit"
                                                                        onclick="return check()"
                                                                        class="btn btn-primary">Update</button>
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <script>
                                var user_id = "<%= data._id %>"
                            // alert(user_id)
                            var api_url = "<%= process.env.BASE_URL %>";
                              $("#personal_email").blur(function(){
                                var userEmail = this.value;
                                  $.ajax({
                                    type: "POST",
                                    url: api_url+"/checkEmail/",
                                    data: {'UserEmail' : userEmail , "user_id": user_id },
                                    dataType:"json",
                                    success: function(response){
                                     console.log(response.emailExists)
                                      $("#nxtButton").html('');
                                      $("#emailError").html('');
                                     if(response.emailExists==null){
                                      $('#nxtButton').removeClass('disabled')
                                      $('#nxtButton').append('<a>Next Step</a>')    
                                    }else{
                                      $("#emailError").text("**Email Already Exist");
                                      $('#nxtButton').addClass('btn disabled') 
                                      $('#nxtButton').append('<a>Next Step</a>')           
                                  } 
                                  ;
                                }
                              });
                            });
                            
                            </script>
                            <script src="/js/useredits.js"></script>
                            <%- include('partials/footer.ejs') %>
    </body>

</html>