<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <style>
    .card{
        color: #fff;}
    </style>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"> Edit Time Entry</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" id="timeEntryForm"><br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="Name"> Projects: <span class="require">*</span></label>
                                    <select class="form-control" id="project" name="project_id" required>
                                        <option value="">Select Project</option>
                                    
                                                    <% if (projectData) { %>
                                                   
                                                        <% for(var i=0; i < projectData.length; i++) { %>
                                                            <%
                                                                if(projectData[i]._id.toString().includes(timeEntryData.project_id)){%>
                                                                <% isSelected='selected' %>
                                                                    <% }else{ %>
                                                                        <% isSelected='' %>
                                                                            <% } %>
    
                                                                                <option value="<%= projectData[i]._id %>"
                                                                                    <%=isSelected %> >
                                                                                    <%= projectData[i].title %>
                                                                                </option>
                                                                                <% } %>
                                                                                    <% } %>
                                    </select>

                                </div>
                                <div class="col-6">
                                    <label for="Name">Tasks: <span class="require">*</span></label>
                                    <select class="form-control" id="task_id" name="task_id" required>
                                        <option value="">Select Task</option>
                                   
                                                                   
                                                                  

                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="Name">Hours: <span class="require">*</span></label>
                                    <input type="number" class="form-control" step="0.5" onKeyPress="if(this.value.length==2) return false;" id="quantity" name="hours" min="0" max="24" value="<%=timeEntryData.hours%>">
                                </div>

                                <div class="col-6">
                                    <label for="Name">Date: <span class="require">*</span></label>
                                    <div class="" id="example2">
                                       
                                          <input type="text" name="date"  autocomplete="off" class="form-control" value="<%=timeEntryData.date%>"  >
                                      
                                      </div>
                                </div>
                               
                                <div class="col-12 mt-5">
                                    <button type="submit" name="submit" id="submit"
                                        class="btn btn-primary">Submit</button>
                                    <a class="btn btn-danger" href="/holidayListing">Back</a>
                                </div>
                        </form>
                    </div>
                </div>
            </section>
          </div>
          <%- include('partials/footer.ejs') %>
       
          <!-- custom-chart js -->
          <script>
            
                  $('#example2').calendar({
                  type: 'date'
                  })
          </script>
          <script>
          
          var task_id
          
          var api_url = "<%= process.env.BASE_URL %>";
        //   alert(api_url)
              $(document).ready(function () {
                   task_id = "<%= timeEntryData.task_id %>"
                      var selectedValue =$("#project").val();
                      $.ajax({
                          type: "POST",
                          url: api_url+"/api/getTaskByProject/" + selectedValue,
                          data: { 'projectID': selectedValue },
                          dataType: "json",
                          success: function (response) {
                              $("#task_id").html('<option value="" disabled selected> ' + "Select Task" + ' </option>');
                              $.map(response.tasks, function (val, i) {
                                  // Do something
                                  if(val._id == task_id){
                                    isSelected = 'selected'                  
                                  }else{
                                      isSelected = ''
                                  }
                                  $("#task_id").append('<option value="' + val._id + '"  '+isSelected+'   > ' + val.title + ' </option>');
                              });
                          }
                      });
                  });
                  //    $(document).ready(function () {
                  $("#project").on("change", function () {
                      var selectedValue = this.value;
                      $.ajax({
                          type: "POST",
                          url:api_url+"/api/getTaskByProject/" + selectedValue,
                          data: { 'projectID': selectedValue },
                          dataType: "json",
                          success: function (response) {
                              $("#task_id").html('<option value="" disabled selected> ' + "Select Task" + ' </option>');
                              $.map(response.tasks, function (val, i) {
                                  if(val._id == task_id){
                                    isSelected = 'selected'                  
                                  }else{
                                      isSelected = ''
                                  }
                                  $("#task_id").append('<option value="' + val._id + '"  '+isSelected+' > ' + val.title + ' </option>');

                              });
                          }
                      });
                  });
              // })
              $(document).ready(function ($) {
  $("#timeEntryForm").validate({
  rules: {
    project_id: {
      required: true,
   
    },
    task_id: {
      required: true,
   
    },
    hours: {
      required:true,
    },
    date: {
      required: true,
   
    },
  },
  messages: {
    project_id: {
      required: "Project is reqired",
    },
    task_id: {
      required: "Task is reqired",
    },
    hours: {
      required: "hours is reqired",
    },
    date: {
      required: "date is required",
    },
  },

});
});

              

</script>

</body>

</html>