
<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="pcoded-main-container">
                                    <div class="content-wrapper">
                                        <div class="content-header">
                                            <div class="container-fluid">
                                                <div class="row mb-2">
                                                </div>
                                            </div>
                                        </div>
                                        <section class="content">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h1 class="card-title">edit Task</h1>
                                        
                                                </div>
                                                <div class="card-body">
                                                    <form method="post" action=""><br>
                                                        <div class="row">
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="project_id"> Project : <span class="require">*</span></label>
                                                                <select class="form-control" id="project" name="project_id" onchange="populate(this.id,user_id)"
                                                                    required>
                                                                    <option value="" selected="true">Select Project</option>
                                                                    <% if (projectData) { %>
                                                                        <% for(var i=0; i < projectData.length; i++) { %>
                                                                            <% if(projectData[i]._id.toString().includes(taskData[0].project_id)){%>
                                                                                <% isSelected='selected' %>
                                                                                    <% }else{ %>
                                                                                        <% isSelected='' %>
                                                                                            <% } %>
                                        
                                                                                                <option value="<%= projectData[i]._id %>" <%=isSelected %> >
                                                                                                    <%= projectData[i].title %>
                                                                                                </option>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                </select>
                                                            </div>
                                        
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="user_id"> User : <span class="require">*</span></label>
                                                                <select class="form-control" name="user_id" id="user_id" required>
                                                                    <option value="" selected="true">Select User</option>
                                                                    <% if (taskData) { %>
                                                                        <% var i=1; %>
                                                                            <% taskData.forEach(function(u) { %>
                                        
                                                                                <% u.test1.forEach(function(r) { %>
                                        
                                                                                    <option value="<%= r._id %>">
                                                                                        <%= r.firstname %>
                                                                                    </option>
                                                                                    <% }) %>
                                                                                        <% }) %>
                                                                </select>
                                        
                                                                <% } %>
                                                            </div>
                                        
                                        
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="title">Title :<span class="require">*</span></label>
                                                                <input type="text" class="form-control" name="title" id="title"
                                                                    placeholder="Enter Project Title" value="<%= taskData[0].title%>" required>
                                                            </div>
                                        
                                                            <div class="col-6" style="margin-bottom: 17px;">
                                                                <label for="short_description">Short Description :<span class="require">*</span></label>
                                                                <input type="text" class="form-control" name="short_description" id="short_description"
                                                                    placeholder="Enter Short Description" value="<%= taskData[0].short_description%>" required>
                                                            </div>
                                        
                                                            <div class="col-12 mt-5">
                                                                <button type="submit" name="submit" id="submit" class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>
                                <script src="js/ajax.js"></script>

    </body>
<script>
    $("select[name='project_id']").change(function () {
        var project_id = $(this).val();


        if (project_id) {


            $.ajax({
                url: "../controller/taskController.js",
                dataType: 'Json',
                data: { 'id': project_id },
                success: function (data) {
                    $('select[name="user_id"]').empty();
                    $.each(data, function (key, value) {
                        $('select[name="project_id"]').append('<option value="' + key + '">' + value + '</option>');
                    });
                }
            });


        } else {
            $('select[name="project_id"]').empty();
        }
    });
</script>
</html>

