

<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>


    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row ">
                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                               <a class="nav-link btn btn-success create-new-button float-right"
                                                    id="createbuttonDropdown" c href="/addLeaves">+ leaves requaest</a></button>

                                                 <h1 class="card-title">Own leaves </h4>
                                               
                                                <div class="table-responsive">
                                                    <table class="table" id="myTable">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Date From</th>
                                                                <th>Date To</th>
                                                                <th>Days</th>
                                                                <th>Reason</th>
                                                                <th>Status</th>
                                                                
                                                           
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (employeeLeavesData) { %>
                                                                <% var i=1; %>
                                                                    <% employeeLeavesData.forEach(function(u) { %>
                                                            
                                                                        <tr>
                                                                            <td>
                                                                                <%= (i++) %>
                                                                            </td>
                                                            
                                                            
                                                                            <% let startDate=new Date(u.datefrom)%>
                                                                            <td>
                                                                                <%= startDate.toISOString().split('T')[0].split("-").reverse().join("-") %>
                                                                            </td>
                                                                            <% let endDate=new Date(u.dateto) %>
                                                                            <td>
                                                                                <%= endDate.toISOString().split('T')[0].split("-").reverse().join("-") %>
                                                                            </td>
                                                                            <% const totaldate=[] %>
                                                                                <% let totalDays=0; %>
                                                                            <% const DF=new Date(u.datefrom) %>
                                                                                <% const DT=new Date(u.dateto) %>
                                                                                    <% const time_difference=DT.getTime()- DF.getTime() %>
                                                                                        <% var days_difference=time_difference / (1000 * 60 * 60 * 24); %>
                                                                                           
                                                                                                <% element=days_difference %>
                                                                                                    <% totaldate.push(element); %>
                                                                                                      
                                                                                                                    <% totaldate.forEach(item=> {
                                                                                                                        totalDays += item;
                                                                                                                        }); %>
                                                                            <td>
                                                                                     
                                                                                <%= totalDays %>
                                                                            </td>
                                                                            <td>
                                                                                <%= u.reason %>
                                                                            </td>
                                                                                    <td>
                                                                                        <% if(u.status=="APPROVE" ){%>
                                                                                            <div class="badge badge-outline-success">Approved</div>
                                                                                               
                                                                                                    <% } else if(u.status=="REJECT"){ %>
                                                                                                         <div class="badge badge-outline-danger">Rejected</div>
                                                                                                           
                                                                                                                <% } else if(u.status=="CANCELLED"){ %>
                                                                                                                    <div class="badge badge-outline-info">cancelled</div>
                                                                                                                    <% } else { %>
                                                                                                                    <div class="badge badge-outline-warning">Pending</div>
                                                                                                                    <% } %> %>
                                                                                    </td>
                                                                                    <% if(!(u.status=="APPROVE" || u.status=="REJECT" || u.status=="CANCELLED" ) ){ %>
                                                                                        <td>
                                                            
                                                                                            <a href="/cancelLeaves/<%= u._id %>" class="btn btn-lg  ml-3"><i
                                                                                                    class="fa-regular fa-rectangle-xmark fa-2x pt-2 text-danger"></i></a>
                                                            
                                                                                        </td>
                                                                                        <% } %>
                                                                                            <div class="modal" id="myModal_<%= u.id %>">
                                                            
                                                                                                <div class="modal-dialog">
                                                                                                    <div class="modal-content">
                                                                                                        <!-- Modal Header -->
                                                                                                        <div class="modal-header">
                                                                                                            <h4 class="modal-title">Are you sure you
                                                                                                                want to delete this request</h4>
                                                                                                        </div>
                                                            
                                                                                                        <!-- Modal body -->
                                                                                                        <!-- Modal footer -->
                                                                                                        <div class="modal-footer">
                                                                                                            <button type="button" class="btn btn-danger " data-dismiss="modal"><a
                                                                                                                    class="Close">No</a></button>
                                                                                                            <button class="btn btn-success"><a class="text-white" class="Yes"
                                                                                                                    href="/deleteTask/<%= u._id %>">Yes</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                        </tr>
                                                                        <% }) %>
                                                                            <% } %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>

    </body>

</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }



</script>