<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/forbidden.css">
<!DOCTYPE html>
<html lang="en">
  <head>


  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/navbar.ejs') %>
            <div class="main-panel">
              
       
              <div style="margin-top:9rem;" class="image d-flex justify-content-center">
              <img  src="../../public/images/logo (2).png" width="300" alt="" srcset="">
              </div>
            
            <h1 class="mt-3">403</h1>
            <h2 class="text-danger">You are not Authorised to access this page !</h2>

              
            <%-// include('partials/footer.ejs') %>
  </body>

</html>
