<%- include ("partials/header.ejs") %>
  <section class="vh-100 gradient-custom" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <% if(success.length> 0) {
                %>
                <div id="flash-message" class="alert alert-dark text-danger font-weight-bold" role="alert">
                  **<%= success %>
                </div>
                <% } %>

                  <div class="mb-md-5 mt-md-4 pb-5">
                    <h3><i class="fa fa-lock fa-4x text-white"></i></h3>
                    <h2 class="fw-bold mb-2">Forgot Password?</h2>
                    <p>You can reset your password here.</p>
                    <!-- <p class="text-white-50 mb-5">Please enter your login and password!</p> -->
                    <form action="" method="post">
                      <div class="form-outline form-white mb-4">
                        <input type="email" name="company_email" id="typeEmailX" placeholder="Enter your company Email"
                          class="form-control form-control-lg" value="" autocomplete="off" />
                        <!-- <label class="form-label" for="typeEmailX"></label> -->
                      </div><br>
                      <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send Link"
                        type="submit">
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>