<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                  <% //console.log(status) %>
                  <% if(addStatus == true){ %>
                   <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c href="/addHoliday">+ Add Holiday </a> 
       <%}%>
                     <h1 class="card-title">Holidays </h1> 
                      <!-- <a href="/addHoliday" style="float:right;"><button class="btn btn-dark"><i
                            class="fas fa-plus"></i></button></a> -->
                    <div class="table-responsive">
                      <table class="table" id="myTable">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (holidayData) { %>
                            <% for(var i=0; i < holidayData.length; i++) { %>
                              <tr>
                                <td>
                                  <%= (i + 1) %>
                                </td>
                                <td>
                                  <%= holidayData[i].holiday_name %>
                                </td>
                                <% let newDate = new Date(holidayData[i].holiday_date)%>
                                <td>
                                    <%= newDate.toISOString().split('T')[0].split("-").reverse().join("-")  %>
                                </td>                   
                                <td>
                                  <% if(updateStatus == true){ %>
                                  <a href="/editHoliday/<%= holidayData[i]._id %>" class="btn btn-lg"><i
                                      class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>
                                      <%}%>
                                      <% if(deleteStatus == true){ %>
                                  <a href="/deleteHoliday/<%= holidayData[i]._id %>" class="btn btn-lg" data-toggle="modal"
                                    onclick="return openModal('<%= holidayData[i]._id %>')"><i class="fas fa-trash-alt fa-2x text-danger"></i></a>
                                    <%}%>
                                </td>
                                <div class="modal" id="myModal_<%= holidayData[i]._id %>">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <!-- <div class="icon-box"> -->
                                              <!-- </div> -->

                                              <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                              <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                              <h4 class="modal-title">Are you sure you
                                                  want to delete this Holiday ??</h4>
                                                  <div class="text-center bg-white pt-4">
                                                      <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a
                                                          class="Close" style="text-decoration: none;">No</a></button>
                                                       
                                                          <button class="btn btn-danger btn-lg  ml-3"><a class="text-white"  style="text-decoration: none;" class="Yes"
                                                              href="/deleteHoliday/<%= holidayData[i]._id %>">Yes</a>
                                                          </div>
                                                      </div>
                                      </div>
                                  </div>
                              </div>
                              </tr>
                              <% } %>
                                <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

</script>

