<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<style>
  a {
  text-decoration: none !important;
}

</style>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/navbar_dashboard.ejs') %>
            <div class="main-panel"> 
              <div class="content-wrapper">
                <div class="row">
                  <div class="col-12 grid-margin stretch-card">
                  </div>
                </div>
                <% if(sess.userData.test[0].role_name == "Admin"){%>
                <div class="row">
                   <a href="/taskListing" class="col-xl-3 col-sm-6 grid-margin stretch-card" style="text-decoration: none;">
                    <div class="card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <h4 class="text-c-red  text-white ">
                              <%= taskData.length %>
                            </h4>
                            <h6 class="text-muted m-b-0">Task</h6>
                          </div>
                       
                          <div class="col-32 text-right icon icon-box-danger">
                            <span class="mdi mdi-calendar"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="/viewleavesrequest" class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <h4 class="text-c-red text-white">
                              <%= allLeavesData.length %>
                            </h4>
                            <h6 class="text-muted m-b-0">Leaves Request</h6>
                          </div>
                          <div class="col-32 text-right icon icon-box-danger">
                              <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </a>
                  <a href="/announcementListing" class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <% if (announcementData.length>0){ %>
                            <h4 class="text-c-red text-white">
                              <%= announcementData.length %>
                            </h4>
                            <h6 class="text-danger m-b-0">Announcement</h6>
                            <div class="text-warning">
                              <% let announcementDate = new Date(announcementData[0].date)%>               
                              <%=announcementDate.toISOString().split('T')[0].split("-").reverse().join("-") %>  : <%= announcementData[0].title %>
                            </div>
                            <% } else { %>
                              <h4 class="text-c-red text-white">
                                0
                              </h4>
                              <h6 class="text-danger m-b-0">Announcement</h6>
                              <div class="text-warning">
                               No Announcement
                              </div>
                              <% } %>

                          </div>
                        </div>
                      </div>

                    </div>
                  </a>
                  <a href="/holidayListing" class="col-xl-3 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <h4 class="text-c-green align-content-center">
                        <% if (dataholiday) { %>
                          <% var count=0; %>
                            <%if(dataholiday.length> 0){ %>
                              <h6 class="text-center" >Upcoming Holiday: 
                                
                              <b><%= dataholiday[0].holiday_name %></b></strong> 
                              </h6>
                              <% }else{ %>
                                <h6 class="text-center">Upcoming Holiday: NO holidays</h6>
                                <% } %>
                                  <% for(var i=0; i < dataholiday.length; i++) { %>
                                   
                                                      <% count++; %>
                                                        <% } %>
                                                         

                                                                <% if(count==0){ %>
                                                                 <h4 class="text-center"> <%= ("No Holidays This month") %></h4>
                                                                            <% }else{ %>
                                                                              <h2 class="mt-4 text-center">
                                                                    <%= (count) %><span class="ml-3">Holiday</span></h2>
                                                                      <% } %>
                                                                        <% } %>
                                                                          <% const monthNames=["January", "February"
                                                                            , "March" , "April" , "May" , "June"
                                                                            , "July" , "August" , "September"
                                                                            , "October" , "November" , "December" ];%>

                                                                            <% const m=new Date(); %>
                                                                              <% const month=monthNames[m.getMonth()];%>
                                                                               
                                                                                  <div class="card-footer bg-primary text-white">
                                                                                    <div class="row text-center">
                                                                                     
                                                                                      <div class="col">
                                                                                       
                                                                                        <h3 class="text-white mt-2 text-center">
                                                                                          <%= month %>
                                                                                        </h3>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>


                      </h4>
                    </div>
                  </a>
                </div>
                <div class="row">
                  <a href="/userListing" class="col-sm-4 grid-margin">
                    <div class="card">
                      <div class="card support-bar overflow-hidden">
                        <div class="card-body pb-0">
                          <h2 class="m-0 text-primary">
                            <%= userData.length %>
                          </h2>

                          <span class="text-white">Employees</span>
                          <p class="mb-3 mt-3 text-white">Total number of employee.</p>
                        </div>
                        <!-- <div id="support-chart"></div> -->

                        <div class="card-footer bg-primary text-white">
                          <div class="row text-center">
                            <div class="col">
                              <h4 class="m-0 text-white">
                                <%= active.length %>
                              </h4>
                              <span>Active</span>
                            </div>
                            <div class="col">
                              <h4 class="m-0 text-white">
                                <%= InActive.length %>
                              </h4>
                              <span>InActive</span>
                            </div>
                            <div class="col">
                              <h4 class="m-0 text-white">
                                <%= pending.length %>
                              </h4>
                              <span>Pending</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="/projectslisting" class="col-sm-4 grid-margin">
                    <div class="card">
                      <div class="card support-bar overflow-hidden">
                        <div class="card-body pb-0">
                          <h2 class="m-0 text-success">
                            <%= projectData.length %>
                          </h2>
                          <span class="text-c-green text-white">Projects</span>
                          <p class="mb-3 mt-3 text-white">Total number of Projects.</p>
                        </div>
                        <!-- <div id="support-chart1"></div> -->
                        <div class="card-footer bg-success text-white">
                          <div class="row text-center">
                            <div class="col">
                              <h4 class="m-0 text-white">
                                <%= projectcompleted.length %>
                              </h4>
                              <span>Completed</span>
                            </div>
                            <div class="col">
                              <h4 class="m-0 text-white">
                                <%= projecthold.length %>
                              </h4>
                              <span>On Hold</span>
                            </div>
                            <div class="col">
                              <h4 class="m-0 text-white">
                                <%= projectinprogress.length %>
                              </h4>
                              <span>In progress</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <% const totaldate=[] %>
                    <% let sum=0; %>
                      <% for(var i=0; i < leavesData.length; i++) { %>
                        <% if(leavesData[i].status=="APPROVE" ) { %>
                          <% const DF=new Date(leavesData[i].datefrom) %>
                            <% const DT=new Date(leavesData[i].dateto) %>
                              <% const time_difference=DT.getTime()- DF.getTime() %>
                                <% var days_difference=time_difference / (1000 * 60 * 60 * 24); %>
                                  <% if(DT.getYear()==new Date().getYear()) { %>
                                    <% element=days_difference %>
                                      <% totaldate.push(element); %>
                                        <% } %>
                                          <% } %>
                                            <% } %>
                                              <% totaldate.forEach(item=> {
                                                sum += item;
                                                }); %>
                                                <div class="col-sm-4 grid-margin">
                                                  <div class="card">
                                                    <div class="card support-bar overflow-hidden">
                                                      <div class="card-body pb-0">
                                                        <h2 class="m-0 text-info">
                                                          <div id="total_leaves">

                                                          </div>
                                                        </h2>

                                                        <span class="text-c-green">Leaves</span>
                                                        <p class="mb-3 mt-3">Total Leaves.</p>
                                                      </div>
                                                      <!-- <div id="support-chart1"></div> -->
                                                      <div class="card-footer bg-info text-white">
                                                        <div class="row text-center">
                                                          <div class="col">
                                                            <h4 class="m-0 text-white">
                                                              <h4>--</h4>
                                                            </h4>
                                                            <span>Approved Leaves</span>
                                                          </div>
                                                          <div class="col">
                                                            <h4 class="m-0 text-white">
                                                              <div id="">
                                                              <h4>--</h4>
                                                              </div>
                                                            </h4>
                                                            <span>Leaves Left</span>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                </div>
                <div class="row ">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">Employee Status</h4>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>
                                 #
                                </th>
                                <th> Employee Image </th>
                                <th> Employee Name </th>
                                <th> Email  </th>
                                <th> Employee Code </th>
                                <th> Gender </th>
                                <th> City </th>
                                <th> Mobile Number </th>
                                <th> Status </th>
                              </tr>
                            </thead>
                            <tbody>
                              <% var userData =  userData.reverse() %>
                              <% if (userData) { %>
                               
                                <% for(var i=0; i<Math.min(userData.length, 5); ++i) { %>
                              <tr>
                                <td>
                                  <%= (i+1) %>
                                </td>
                                <td>
                                  <img src="/public/images/<%= userData[i].photo %>" style="width: 90px;" height="70px" alt="image" />
                                </td>
                                <td> <span class="pl-2">
                                  <%= userData[i].firstname %>
                                </span> </td>
                                <td> <%= userData[i].personal_email %> </td>
                                <td> <%= userData[i].emp_code %> </td>
                                <td> <%= userData[i].gender %> </td>
                                <td> <%= userData[i].city %> </td>
                                <td> <%= userData[i].mo_number %> </td>
                                <td>
                                  <% if(userData[i].status == "Active"){ %>
                                    <div class="badge badge-outline-success">Active
                                    </div>
                                    <% } else if(userData[i].status == "Pending" ){ %>
                                     
                                    <div class="badge badge-outline-warning">Pending
                                    </div>
                                    <% } else{ %>
                                      <div class="badge badge-info">X-Employee
                                      </div>
                                    
                                      <% } %>
                                </td>
                              </tr>
                              <% } %>
                              <% } %>
                          

                            </tbody>
                          </table>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

  <%- include('partials/footer.ejs') %>
  </div>
  
  <!-- partial -->
  </div>
  <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

                <script>
                var api_url = "<%= process.env.BASE_URL %>";
                  $(document).ready(function () {
                    $.ajax({
                      type: "POST",
                      url:  api_url+"/api/getSettingData",
                      data: { 'key': "leaves" },
                      dataType: "json",
                      success: function (response) {
                    
                        $("#total_leaves").html('');
                        // Do something
                        // $("#user_id").append('<option value=' + '>' + "Select User" + '</option>');
                        $("#total_leaves").append(response);
                        $("#left_leaves").append(response - '<%- sum %>');
                      }
                    });
                  });

                </script>
                
                 <%} else { %>
                  <div class="row">
                    <a href="/taskListing" class="col-xl-3 col-sm-6 grid-margin stretch-card" style="text-decoration: none;">
                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-8">
                              <h4 class="text-c-red  text-white ">
                                <%= taskUserData.length %>
                              </h4>
                              <h6 class="text-muted m-b-0">Task</h6>
                            </div>
                  
                            <div class="col-32 text-right icon icon-box-danger">
                              <span class="mdi mdi-calendar"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="/viewleavesrequest" class="col-xl-3 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-8">
                              <h4 class="text-c-red text-white">
                                <%= leavesrequestData.length %>
                              </h4>
                              <h6 class="text-muted m-b-0">Leaves Request</h6>
                            </div>
                            <div class="col-32 text-right icon icon-box-danger">
                              <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                            </div>
                          </div>
                        </div>
                  
                      </div>
                    </a>
                    <a href="/announcementListing" class="col-xl-3 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <div class="row align-items-center">
                            <div class="col-8">
                              <% if (announcementData.length>0){ %>
                                <h4 class="text-c-red text-white">
                                  <%= announcementData.length %>
                                </h4>
                                <h6 class="text-danger m-b-0">Announcement</h6>
                                <div class="text-warning">
                                  <% let announcementDate=new Date(announcementData[0].date)%>
                                    <%=announcementDate.toISOString().split('T')[0].split("-").reverse().join("-") %> : <%=
                                        announcementData[0].title %>
                                </div>
                                <% } else { %>
                                  <h4 class="text-c-red text-white">
                                    0
                                  </h4>
                                  <h6 class="text-danger m-b-0">Announcement</h6>
                                  <div class="text-warning">
                                    No Announcement
                                  </div>
                                  <% } %>
                    
                            </div>
                          </div>
                        </div>
                    
                      </div>
                    </a>
                    <a href="/holidayListing" class="col-xl-3 col-sm-6 grid-margin stretch-card">
                      <div class="card">
                        <h4 class="text-c-green align-content-center">
                          <% if (dataholiday) { %>
                            <% var count=0; %>
                              <%if(dataholiday.length> 0){ %>
                                <h6 class="text-center">Upcoming Holiday:
                                  <b>
                                    <%= dataholiday[0].holiday_name %>
                                  </b></strong>
                                </h6>
                                <% }else{ %>
                                  <h6 class="text-center">Upcoming Holiday: NO holidays</h6>
                                  <% } %>
                                    <% for(var i=0; i < dataholiday.length; i++) { %>
                                    
                                                    <% count++; %>
                                                      <% } %>
                                                      
                  
                                                        
                                                              <% if(count==0){ %>
                                                                <h4 class="text-center">
                                                                  <%= ("No Holidays This month") %>
                                                                </h4>
                                                                <% }else{ %>
                                                                  <h2 class="mt-4 text-center">
                                                                    <%= dataholiday.length %><span class="ml-3">Holiday</span>
                                                                  </h2>
                                                                  <% } %>
                                                                    <% } %>
                                                                      <% const monthNames=["January", "February" , "March" , "April"
                                                                        , "May" , "June" , "July" , "August" , "September" , "October"
                                                                        , "November" , "December" ];%>
                  
                                                                        <% const m=new Date(); %>
                                                                          <% const month=monthNames[m.getMonth()];%>
                  
                                                                            <div class="card-footer bg-primary text-white">
                                                                              <div class="row text-center">
                  
                                                                                <div class="col">
                  
                                                                                  <h3 class="text-white mt-2 text-center">
                                                                                    <%= month %>
                                                                                  </h3>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                  
                  
                        </h4>
                      </div>
                    </a>
                  </div>
                  <div class="row">
                    <a href="/userListing" class="col-sm-4 grid-margin">
                      <div class="card">
                        <div class="card support-bar overflow-hidden">
                          <div class="card-body pb-0">
                            <h2 class="m-0 text-primary">
                              <%= referuserData.length %>
                            </h2>
                  
                            <span class="text-white">Employees</span>
                            <p class="mb-3 mt-3 text-white">Total number of employee.</p>
                          </div>
                          <!-- <div id="support-chart"></div> -->
                  
                          <div class="card-footer bg-primary text-white">
                            <div class="row text-center">
                              <div class="col">
                                <h4 class="m-0 text-white">
                                  <%= activeUser.length %>
                                </h4>
                                <span>Active</span>
                              </div>
                              <div class="col">
                                <h4 class="m-0 text-white">
                                  <%= InActiveUser.length %>
                                </h4>
                                <span>InActive</span>
                              </div>
                              <div class="col">
                                <h4 class="m-0 text-white">
                                  <%= pendingUser.length %>
                                </h4>
                                <span>Pending</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <a href="/projectslisting" class="col-sm-4 grid-margin">
                      <div class="card">
                        <div class="card support-bar overflow-hidden">
                          <div class="card-body pb-0">
                            <h2 class="m-0 text-success">
                              <%= projectUserData.length %>
                            </h2>
                            <span class="text-c-green text-white">Projects</span>
                            <p class="mb-3 mt-3 text-white">Total number of Projects.</p>
                          </div>
                          <!-- <div id="support-chart1"></div> -->
                          <div class="card-footer bg-success text-white">
                            <div class="row text-center">
                              <div class="col">
                                <h4 class="m-0 text-white">
                                  <%= projectcompletedUser.length %>
                                </h4>
                                <span>Completed</span>
                              </div>
                              <div class="col">
                                <h4 class="m-0 text-white">
                                  <%= projectholdUser.length %>
                                </h4>
                                <span>On Hold</span>
                              </div>
                              <div class="col">
                                <h4 class="m-0 text-white">
                                  <%= projectinprogressUser.length %>
                                </h4>
                                <span>In progress</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                    <% const totaldate=[] %>
                      <% let sum=0; %>
                        <% for(var i=0; i < leavesData.length; i++) { %>
                          <% if(leavesData[i].status=="APPROVE" ) { %>
                            <% const DF=new Date(leavesData[i].datefrom) %>
                              <% const DT=new Date(leavesData[i].dateto) %>
                                <% const time_difference=DT.getTime()- DF.getTime() %>
                                  <% var days_difference=time_difference / (1000 * 60 * 60 * 24); %>
                                    <% if(DT.getYear()==new Date().getYear()) { %>
                                      <% element=days_difference %>
                                        <% totaldate.push(element); %>
                                          <% } %>
                                            <% } %>
                                              <% } %>
                                                <% totaldate.forEach(item=> {
                                                  sum += item;
                                                  }); %>
                                                  <div class="col-sm-4 grid-margin">
                                                    <div class="card">
                                                      <div class="card support-bar overflow-hidden">
                                                        <div class="card-body pb-0">
                                                          <h2 class="m-0 text-info">
                                                            <div id="total_leaves">
                  
                                                            </div>
                                                          </h2>
                  
                                                          <span class="text-c-green">Leaves</span>
                                                          <p class="mb-3 mt-3">Total Leaves.</p>
                                                        </div>
                                                        <!-- <div id="support-chart1"></div> -->
                                                        <div class="card-footer bg-info text-white">
                                                          <div class="row text-center">
                                                            <div class="col">
                                                              <h4 class="m-0 text-white">
                                                                <%= sum %>
                                                              </h4>
                                                              <span>Approved Leaves</span>
                                                            </div>
                                                            <div class="col">
                                                              <h4 class="m-0 text-white">
                                                                <div id="left_leaves">
                  
                                                                </div>
                                                              </h4>
                                                              <span>Leaves Left</span>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                  </div>
                  </div>
       
                  <%- include('partials/footer.ejs') %>
                  </div>
                  
                  <!-- partial -->
                  </div>
                  <!-- main-panel ends -->
                  </div>
                  <!-- page-body-wrapper ends -->
                
                  <script>
                    var api_url = "<%= process.env.BASE_URL %>";
                    $(document).ready(function () {
                      $.ajax({
                        type: "POST",
                        url: api_url + "/api/getSettingData",
                        data: { 'key': "leaves" },
                        dataType: "json",
                        success: function (response) {

                          $("#total_leaves").html('');
                          // Do something
                          // $("#user_id").append('<option value=' + '>' + "Select User" + '</option>');
                          $("#total_leaves").append(response);
                          $("#left_leaves").append(response - '<%- sum %>');
                        }
                      });
                    });

                  </script>



<% } %>
    <!-- container-scroller -->
  </body>

</html>

