<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>


    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row ">
                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                               
                                                <h1 class="card-title">Leaves Request </h4>

                                                    <div class="table-responsive">
                                                        <table class="table" id="myTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Employee name</th>
                                                                    <th>Date From</th>
                                                                    <th>Date To</th>
                                                                    <th>Days</th>
                                                                    <th>Reason</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% leavesData =leavesData.reverse()%>
                                                                <% if (leavesData) { %>
                                                                    <% var i=1; %>
                                                                        <% leavesData.forEach(function(u,i) { %>
                                                                          
                                                                            <tr id="leave<%=i%>">
                                                                                <td>
                                                                                    <%= (i++) %>
                                                                                </td>
                                                                                <td>
                                                                                    <% u.user.forEach(function(r) { %>
                                                                                        <%= r.firstname %>
                                                                                            <% }) %>
                                                                                </td>
                                                                            </td>
                                                                            <% let newDate=new Date(u.datefrom)%>
                                                                            <td>
                                                                                <%= newDate.toISOString().split('T')[0].split("-").reverse().join("-")
                                                                                %>
                                                                            </td>
                                                                            <% let endDate=new Date(u.dateto) %>
                                                                            <td>
                                                                                <%= endDate.toISOString().split('T')[0].split("-").reverse().join("-")
                                                                                %>
                                                                            </td>
                                                                            <% const totaldate=[] %>
                                                                                <% let totalDays=0; %>
                                                                                    <% const DF=new Date(u.datefrom) %>
                                                                                        <% const DT=new Date(u.dateto) %>
                                                                                            <% const time_difference=DT.getTime()- DF.getTime() %>
                                                                                                <% var days_difference=time_difference / (1000 * 60 * 60 * 24); %>
                                                                            
                                                                                                    <% element=days_difference %>
                                                                                                        <% totaldate.push(element); %>
                                                                            
                                                                                                            <% totaldate.forEach(item=> {
                                                                                                                totalDays += item;
                                                                                                                }); %>
                                                                                                                <td>
                                                                            
                                                                                                                    <%= totalDays %>
                                                                                                                </td>
                                                                            <td>
                                                                                <%= u.reason %>
                                                                            </td>
                                                                                        <% if (u.status=="APPROVE" ||
                                                                                            u.status=="REJECT" ){ %>
                                                                                            <td>
                                                                                                <% if(u.status=="APPROVE"
                                                                                                    ) { %>
                                                                                                        <div
                                                                                                        class="badge badge-outline-success">
                                                                                                        Approved</div>
                                                                                                        
                                                                                                    </span>
                                                                                                    <% } else { %>
                                                                                                        <% if(u.status=="APPROVE"
                                                                                                            ) { %>
                                                                                                                
                                                                                                                <%}%>
                                                                                                        <div
                                                                                                            class="badge badge-outline-danger">
                                                                                                            Rejected
                                                                                                        </div>
                                                                                                        <% } %>
                                                                                                            </span>
                                                                                            </td>
                                                                                            <% }else{ %>
                                                                                                <td id="child">
                                                                                                    <a href="/approveLeaves/<%= u._id %>"
                                                                                                        class=""><i
                                                                                                            class="fa-regular fa-square-check fa-2x text-success "></i></a>
                                                                                                    <a href="/rejectLeaves/<%= u._id %>"
                                                                                                        class=" text-dark ml-3"><i
                                                                                                            class="fa-regular fa-rectangle-xmark fa-2x text-danger   "></i></a>
                                                                                                </td>
                                                                                                <% } %>

                                                                            </tr>



                                                                            <% }) %>
                                                                                <% } %>


                                                            </tbody>
                                                        </table>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>

    </body>

</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }


    $(child).closest('tr').addClass('addborder')

</script>