<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .error {
      color: red;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Toggle Password Visibility</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>codecrew</title>


  <link rel="stylesheet" href="../../assets/css/style.css">

</head>

<body>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <% if(send.length> 0) {
                %>
                <div class="alert alert-dark text-danger font-weight-bold" role="alert">
                  <%= send %>
                </div>
                <% } %>


                  <% if(emailSuccess.length> 0) {
                    %>
                    <div class="alert alert-dark text-danger font-weight-bold" role="alert">
                      <%= emailSuccess %>
                    </div>
                    <% } %>
                      <% if(userFail.length> 0) {
                        %>
                        <div class="alert alert-dark text-danger font-weight-bold" role="alert">
                          <%= userFail %>
                        </div>
                        <% } %>

                          <% if(done.length> 0) {
                            %>
                            <div class="alert alert-dark text-danger font-weight-bold" role="alert">
                              <%= done %>
                            </div>
                            <% } %>

                              <% if(success.length> 0) {
                                %>
                                <div class="alert alert-dark text-danger font-weight-bold" role="alert">
                                  <%= success %>
                                </div>
                                <% } %>
                                  <% if(succPass.length> 0) {
                                    %>
                                    <div class="alert alert-dark text-danger font-weight-bold" role="alert">
                                      <%= succPass %>
                                    </div>
                                    <% } %>
                                      <h3 class="card-title text-left mb-3">Login</h3>

                                      <form method="post" id="login-form">

                                        <div class="form-group">
                                          <label> Personal email *</label>
                                          <input type="text" name="personal_email" class="form-control p_input">
                                        </div>
                                        <div class="form-group">
                                          <label>Password *</label>
                                          <div class="form-group d-flex align-items-center justify-content-between">
                                            <input type="password" name="password" class="form-control p_input"
                                              id="password" />
                                            <i class="bi bi-eye-slash" id="togglePassword"
                                              style="position: absolute; color: black; margin-left: 400px;"></i>
                                          </div>
                                          <a href="/forget" class="forgot-pass">Forgot password</a>
                                        </div>

                                        <div class="text-center">
                                          <button type="submit"
                                            class="btn btn-primary btn-block enter-btn">Login</button>
                                        </div>
                                        <!-- <div class="d-flex">
                                            <button class="btn btn-facebook mr-2 col">
                                              <i class="mdi mdi-facebook"></i> Facebook </button>
                                            <button class="btn btn-google col">
                                              <i class="mdi mdi-google-plus"></i> Google plus </button>
                                          </div> -->
                                      </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <!-- <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/settings.js"></script>
  <script src="../../assets/js/todolist.js"></script> -->
  <!-- endinject -->
</body>

</html>
<script>
  $(document).ready(function ($) {

    $("#login-form").validate({
      rules: {
        personal_email: {
          required: true,
          email: true
        },
        password: {
          required: true,
          minlength: 8
        },


      },
      messages: {
        personal_email: "Please enter your valid Personal Email",
        password: {
          required: "Please provide a password",
          minlength: "Your password must be at least 6 characters long"
        },

      },



    });
  });

  var togglePassword = document.querySelector("#togglePassword");
  var password = document.querySelector("#password");

  togglePassword.addEventListener("click", function () {
    // toggle the type attribute
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    // toggle the icon
    this.classList.toggle("bi-eye");
  });

 
</script>
</script>