<html lang="en">
<%- include('partials/header.ejs') %>

  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
        <div class="container-fluid page-body-wrapper">
          <%- include('partials/navbar.ejs') %>
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="content-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-12 float-right">
                        <% if(addStatus==true) { %>
                          <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c
                            href="/addtimeEntries">+ Add Time Entry </a>
                          <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <section class="content">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="col-sm-12 float-right mt-2">
                            <select id='gMonth2' onchange="getMonthYear()" style="float:right;">
                              <option value='' selected>--Select Month--</option>
                              <option value='1'>Janaury</option>
                              <option value='2'>February</option>
                              <option value='3'>March</option>
                              <option value='4'>April</option>
                              <option value='5'>May</option>
                              <option value='6'>June</option>
                              <option value='7'>July</option>
                              <option value='8'>August</option>
                              <option value='9'>September</option>
                              <option value='10'>October</option>
                              <option value='11'>November</option>
                              <option value='12'>December</option>
                            </select>
                            <select id='gyear' onchange="getMonthYear()" style="float:right;">
                              <option value='' selected>--Select Year--</option>
                              <option value='2022'>2022</option>
                              <option value='2023'>2023</option>
                              <option value='2024'>2024</option>
                              <option value='2025'>2025</option>
                            </select>
                          </div>
                          <div class="col-sm-6 mt-2">

                            <h1 class="m-0"><i class="fa-solid fa-calendar-days"></i> <span
                                class="ml-2">TimeEntries</span></h1>
                          </div>
                          <!--  <div class="card-header">
                    <h3 class="card-title">All Category</h3>
                  </div> -->
                          <div class="card-body">
                            <table class="table" id="myTable">
                              <% if(sess.userData.test[0].role_name=="Admin" ) { %>
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>User</th>
                                    <th>Project Name</th>
                                    <th>Task Name</th>
                                    <th>Hours</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <% }else{ %>
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Project Name</th>
                                      <th>Task Name</th>
                                      <th>Hours</th>
                                      <th>Date</th>
                                      <th>Action</th>

                                    </tr>
                                  </thead>
                                  <% } %>
                                    <tbody id="tblEmployee">
                                    </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <%- include('partials/footer.ejs') %>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>

</html>
<script>
  var api_url = "<%= process.env.BASE_URL %>";
  // alert(api_url)
  var this_month;
  $("#gMonth2").change(function () {
    change_month = $(this).val();
  })
  $("#gyear").change(function () {
    year = $(this).val();
  })
  // alert(change_month)
  var d = new Date(),
    this_month = d.getMonth() + 1,
    year = d.getFullYear();

  $('#gMonth2 option:eq(' + this_month + ')').prop('selected', true);

  $('#gyear option[value="' + year + '"]').prop('selected', true);


  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }
  var Updatestatus;
  var Deletestatus;
  var updatecondition = '';
  var deletecondition = '';
  $(document).ready(function () {
    $.ajax({
      type: "POST",
      url: api_url + "/api/getDataBymonth/",
      data: { 'month': this_month, 'year': year },
      dataType: "json",
      success: function (response) {
// console.log(response)
        $("#tblEmployee").html('');

        const role = "<%= sess.userData.test[0].role_name %>"

        if (role == 'Admin') {
          $.map(response.admintimeEntryData, function (val, i) {

            $.map(val.projectData, function (value) {
              $.map(val.taskData, function (values) {
                $.map(val.userData, function (user) {

                  Updatestatus = "<%= updateStatus %>"
                  Deletestatus = "<%= deleteStatus %>"

                  if (Updatestatus == "true") {

                    updatecondition = '<a href="/editTimeEntry/' + val._id + '" class="btn btn-lg"> <i class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>'
                  }
                  if (Deletestatus == "true") {

                    deletecondition = '<a href="#" class="btn btn-lg" onclick=" Delete(`' + val._id + '`)"  ><i class="fas fa-trash-alt fa-2x text-danger"></i></a>'
                  }

                  const d = new Date(val.date);
                  const date = d.toISOString().split('T')[0].split("-").reverse().join("-")
                  let month = d.getMonth() + 1;

                  $('#tblEmployee').append('<tr id = "' + val._id + '"> <td>' + ++i + '</td> <td>' + user.firstname + '</td> <td>' + value.title + '</td>  <td>' + values.title + '</td> <td>' + val.hours + '</td><td>' + date + '</td> <td>' + updatecondition + deletecondition + '</td> </tr>')


                });
              })
            });
          });
        } else {
          $.map(response.timeEntryData, function (val, i) {
            $.map(val.projectData, function (value) {
              $.map(val.taskData, function (values) {
                Updatestatus = "<%= updateStatus %>"
                Deletestatus = "<%= deleteStatus %>"

                if (Updatestatus == "true") {

                  updatecondition = '<a href="/editTimeEntry/' + val._id + '" class="btn btn-lg"> <i class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>'
                }
                if (Deletestatus == "true") {

                  deletecondition = '<a href="#" class="btn btn-lg" onclick=" Delete(`' + val._id + '`)"  ><i class="fas fa-trash-alt fa-2x text-danger"></i></a>'
                }

                const d = new Date(val.date);
                const date = d.toISOString().split('T')[0].split("-").reverse().join("-")
                let month = d.getMonth() + 1;

                $('#tblEmployee').append('<tr id = "' + val._id + '"> <td>' + ++i + '</td> <td>' + value.title + '</td>  <td>' + values.title + '</td> <td>' + val.hours + '</td><td>' + date + '</td> <td>' + updatecondition + deletecondition + '</td> </tr>')


              });
            });
          });

        }
      }

    })
  })
  
  
  function getMonthYear() {
    const thisyear = $('#gyear').val()
    const thismonth = $("#gMonth2").val()
    $.ajax({
      type: "POST",
      url: api_url + "/api/getDataBymonth/",
      data: { 'month': thismonth, 'year': thisyear },
      dataType: "json",
      success: function (response) {

        console.log
        $("#tblEmployee").html('');
        const role = "<%= sess.userData.test[0].role_name %>"
        if (role == 'Admin') {
        $.map(response.admintimeEntryData, function (val, i) {
          $.map(val.projectData, function (value) {
            $.map(val.taskData, function (values) {
              $.map(val.userData, function (user) {

              Updatestatus = "<%= updateStatus %>"
              Deletestatus = "<%= deleteStatus %>"

              if (Updatestatus == "true") {

                updatecondition = '<a href="/editTimeEntry/' + val._id + '" class="btn btn-lg"> <i class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>'
              }
              if (Deletestatus == "true") {

                deletecondition = '<a href="#" class="btn btn-lg" onclick=" Delete(`' + val._id + '`)"  ><i class="fas fa-trash-alt fa-2x text-danger"></i></a>'
              }
              const d = new Date(val.date);
              const date = d.toISOString().split('T')[0].split("-").reverse().join("-")
              let month = d.getMonth() + 1;
              //  for(var j=1; j<val.length;j++)
              // if (month==thismonth) {
              $('#tblEmployee').append('<tr id = "' + val._id + '"> <td>' + ++i + '</td> <td>' + user.firstname + '</td> <td>' + value.title + '</td>  <td>' + values.title + '</td> <td>' + val.hours + '</td><td>' + date + '</td><td>' + updatecondition + deletecondition +  '</td> </tr>')
            });
          });
        })
        })
      }else{
        $.map(response.timeEntryData, function (val, i) {
          $.map(val.projectData, function (value) {
            $.map(val.taskData, function (values) {
          
              Updatestatus = "<%= updateStatus %>"
              Deletestatus = "<%= deleteStatus %>"

              if (Updatestatus == "true") {

                updatecondition = '<a href="/editTimeEntry/' + val._id + '" class="btn btn-lg"> <i class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>'
              }
              if (Deletestatus == "true") {

                deletecondition = '<a href="#" class="btn btn-lg" onclick=" Delete(`' + val._id + '`)"  ><i class="fas fa-trash-alt fa-2x text-danger"></i></a>'
              }
              const d = new Date(val.date);
              const date = d.toISOString().split('T')[0].split("-").reverse().join("-")
              let month = d.getMonth() + 1;
              //  for(var j=1; j<val.length;j++)
              // if (month==thismonth) {
              $('#tblEmployee').append('<tr id = "' + val._id + '"> <td>' + ++i + '</td>  <td>' + value.title + '</td>  <td>' + values.title + '</td> <td>' + val.hours + '</td><td>' + date + '</td><td>' + updatecondition + deletecondition +  '</td> </tr>')
            });
          });
        })
      
      }
      }
    })
  }



  function Delete(id) {
    Swal.fire({
      title: 'Want to Remove?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showDenyButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Remove it!'
    }).then((result) => {
      if (result.isConfirmed) {

        $.ajax({
          url: `api/deleteTimeEntry/${id}`,
          method: "post",
        })
          .then(function (response) {
            if (response == "data deleted") {
              $(`#${id}`).hide()
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
            }
          }).catch((err) => {
            Swal.fire(
              '404!',
              'Something Went Wrong.',
              'error'
            )
          })
      }
    })
  }


</script>