<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <% if(addStatus== true){%>
                   <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c href="/addpermissions">+ Add Permission </a> 
                   <% } %>
                     <h1 class="card-title">Permissions</h4>
                      <!-- <a href="/addHoliday" style="float:right;"><button class="btn btn-dark"><i
                            class="fas fa-plus"></i></button></a> -->
                    <div class="table-responsive">
                      <table class="table" id="myTable">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Permissions Name</th>
                            <th>Discription</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (permissionData) { %>
                            <% for(var i=0; i < permissionData.length; i++) { %>
                              <tr>
                                <td>
                                  <%= (i + 1) %>
                                </td>
                                <td>
                                  <%= permissionData[i].permission_name %>
                                </td>
                                <td>
                                  <%= permissionData[i].permission_description %>
                                </td>
                                <td>
                                  <% if(updateStatus==true){%>
                                  <a href="/editpermissions/<%= permissionData[i]._id %>" class="btn btn-lg"><i
                                      class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>
                                      <% } %>
                                    <% if(deleteStatus==true){%>
                                  <a href="/deletepermissions/<%= permissionData[i]._id %>" data-toggle="modal"
                                    onclick="return openModal('<%= permissionData[i]._id %>')" class="btn btn-lg"><i
                                      class="fas fa-trash-alt fa-2x text-danger"></i></a>
                                      <% } %>
                                </td>
                               
                                <div class="modal" id="myModal_<%= permissionData[i]._id %>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- <div class="icon-box"> -->
                                      <!-- </div> -->
                                
                                      <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                      <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                        <h4 class="modal-title">Are you sure you
                                          want to delete this permission ??</h4>
                                        <div class="text-center bg-white pt-4">
                                          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a class="Close"
                                              style="text-decoration: none;">No</a></button>
                                          <button class="btn btn-danger btn-lg  ml-3"><a class="text-white" style="text-decoration: none;" class="Yes"
                                              href="/deletepermissions/<%= permissionData[i]._id %>">Yes</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </tr>
                              <% } %>
                                <% } %>
                        </tbody>
                      </table>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>

  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

</script>

