<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href= />
    <%- include ("partials/head.ejs") %>
        
            <script>
                var genderValue = "<%= loggeduserdata.gender %>";
            </script>



</head>


<body class="hold-transition sidebar-mini layout-fixed">
    <%- include ("menu-list.ejs") %>
        <div class="pcoded-main-container">

            <div class="container ">
                <div class="main-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mt-5">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <% if(images.length>0) {%>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <%= images %>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                            </div>
                                            <% } %>

                                                <form action="/userphoto/<%= loggeduserdata._id%>" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="profile-pic">
                                                        <label class="-label" for="file">
                                                            <span class="glyphicon glyphicon-camera"></span>
                                                            <span>Change Image</span>
                                                        </label>
                                                        <input id="file" type="file" name="photo"
                                                            onchange="this.form.submit();" />
                                                        <img src="/public/images/<%= loggeduserdata.photo%>" id="output"
                                                            width="200" alt="user Profile" class="" />
                                                    </div>
                                                </form>
                                                <div class="mt-3">
                                                    <h4>
                                                        <%= loggeduserdata.user_name %>
                                                    </h4>
                                                    <p class="text-secondary mb-1">
                                                        <%= sess.userData.test[0].role_name%>
                                                    </p>
                                                    <p class="text-muted font-size-sm">
                                                        <%= loggeduserdata.add_1%>
                                                    </p>
                                                    <button class="btn btn-primary">Follow</button>
                                                    <button class="btn btn-outline-primary">Message</button>
                                                </div>
                                    </div>
                                    <hr class="my-4">
                                    <ul class="list-group list-group-flush">
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-globe me-2 icon-inline">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                                    <path
                                                        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                                                    </path>
                                                </svg>Website</h6>
                                            <span class="text-secondary"><a
                                                    href="http://codecrewinfotech.com/">//codecrewinfotech.com/</a></span>
                                        </li>
                                        <li
                                            class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-github me-2 icon-inline">
                                                    <path
                                                        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                                                    </path>
                                                </svg>Change password</h6>
                                            <button><a href="/change_password/<%= loggeduserdata._id%>">Change
                                                    Password</a></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mt-5">
                                <div class="card-body">
                                    <form action="" method="post">
                                        <% if(success.length>0) {%>
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <%= success %>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                            </div>
                                            <% } %>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Full Name</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="firstname"
                                                            value="<%= loggeduserdata.firstname%>">
                                                    </div>

                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Last Name</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="last_name"
                                                            value="<%= loggeduserdata.last_name%>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Middle Name</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="middle_name"
                                                            value="<%= loggeduserdata.middle_name%>">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Email</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="personal_email"
                                                            value="<%= loggeduserdata.personal_email%>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Phone</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="number" class="form-control" name="mo_number"
                                                            value="<%= loggeduserdata.mo_number%>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Pan number</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="pan_number"
                                                            value="<%= loggeduserdata.pan_number%>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Aadhar Numbers</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="number" class="form-control" name="aadhar_number"
                                                            value="<%= loggeduserdata.aadhar_number%>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Address</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="add_1"
                                                            value="<%= loggeduserdata.add_1 %>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Address2</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="add_2"
                                                            value="<%= loggeduserdata.add_2 %>">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">DOB</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="date" class="form-control" name="dob"
                                                            value="<%= loggeduserdata.dob %>">
                                                    </div>
                                                </div>
                                                <!-- <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">DOJ</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" value="<%= loggeduserdata.doj %>">
                                        </div>
                                    </div> -->
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">DOJ</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="text" class="form-control" name="doj"
                                                            value="<%= loggeduserdata.doj %>">
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-sm-3">
                                                        <h6 class="mb-0">Gender</h6>
                                                    </div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <label><input type="radio" id="gender_male" name="gender"
                                                                value="male" required>Male</label>
                                                        <label><input type="radio" id="gender_female" name="gender"
                                                                value="female">Female</label>
                                                        <label><input type="radio" id="other" name="gender"
                                                                value="other">Other</label><br>
                                                    </div>
                                                </div>



                                                <div class="row">
                                                    <div class="col-sm-3"></div>
                                                    <div class="col-sm-9 text-secondary">
                                                        <input type="submit" class="btn btn-primary px-4"
                                                            value="Save Changes">
                                                    </div>
                                                </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include ("partials/footer.ejs") %>
            <!-- Apex Chart -->
        
           
                <!-- custom-chart js -->
                
</body>

</html>
<script>
    if (genderValue == "male") {
        $('#gender_male').prop('checked', true);
    } else if (genderValue == "female") {
        $('#gender_female').prop('checked', true);
    } else {
        $('#gender_other').prop('checked', true);
    }
</script>
<!-- <script>
    $('#file').change(function () {
        $('#target').submit();
    });

</script> -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }



</script>