<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<!-- <link rel="stylesheet" href="/css/sandip.css"> -->

    <script>
        var genderValue = "<%= loggeduserdata.gender %>";
    </script>
    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card mt-5">
                                            <div class="card-header">
                                                <h3 class="card-title">Employee Profile</h3>
                                            </div>
                                            <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <% if(images.length>0) {%>
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <%= images %>
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                            
                                                    </div>
                                                    <% } %>
                            
                                                        <form action="/userphoto/<%= loggeduserdata._id%>" method="post"
                                                            enctype="multipart/form-data">
                                                            <div class="profile-pic" id="profile">
                                                                <label class="-label" for="file">
                                                                    <span class="glyphicon glyphicon-camera"></span>
                                                                    <span>Change Image</span>
                                                                </label>
                                                                <input id="file" type="file" name="photo" onchange="this.form.submit();" />
                                                                <img src="/public/images/<%= loggeduserdata.photo%>" id="output" width="200"
                                                                    alt="user Profile" class=""/>
                                                            </div>
                                                            
                                                        </form>
                                                        <div class="mt-3">
                                                            <h4>
                                                                <%= loggeduserdata.user_name %>
                                                            </h4>
                                                            <p class="text-secondary mb-1">
                                                                <%= sess.userData.test[0].role_name%>
                                                            </p>
                                              
                                                        </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div class="card mt-4">
                                        <div class="card-header">
                                            <h3 class="card-title">Bank Details</h3>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 mt-1">
                                                <h6 class="mb-0 ml-1 pt-1">Ac. Number</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input type="text" disabled class="form-control text-dark" name="last_name"
                                                    value="<%= loggeduserdata.bank_account_no%>">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-sm-3 ">
                                                <h6 class="mb-0 ml-1 pt-1">Bank Name</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input type="text" disabled class="form-control text-dark" name="last_name"
                                                    value="<%= loggeduserdata.bank_name%>">
                                            </div>
                                        </div>
                                           <div class="row mb-3">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0 ml-1 pt-1">IFSC</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                <input type="text" disabled class="form-control text-dark" name="last_name"
                                                    value="<%= loggeduserdata.ifsc_code%>">
                                            </div>
                                        </div>
                                        <!-- <div class="card-body">
                                            <div class="row">
                                                <div class="card-body">
                                                  <div class="row">
                                                    <div class="col-sm-6">
                                                      <h4>Bank Name:</h4>
                                                      <h4>Account Number:</h4>
                                                      <h4>IFSC Code:</h4>
                                                     
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                        value="loggeduserdata.bank_name%>">
                                                        <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                        value="loggeduserdata.bank_name%>">
                                                        <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                        value="loggeduserdata.bank_name%>">
                                                
                                                   
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                           
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mt-5">
                                        <div class="card-body">
                                            <form action="" method="post">
                                                <% if(success.length>0) {%>
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <%= success %>
                                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                            
                                                    </div>
                                                    <% } %>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Full Name</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="firstname"
                                                                    value="<%= loggeduserdata.firstname%>">
                                                            </div>
                            
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Last Name</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="last_name"
                                                                    value="<%= loggeduserdata.last_name%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Middle Name</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="middle_name"
                                                                    value="<%= loggeduserdata.middle_name%>">
                                                            </div>
                                                        </div>
                            
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Email</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="personal_email"
                                                                    value="<%= loggeduserdata.personal_email%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Phone</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="number" disabled class="form-control text-dark" name="mo_number"
                                                                    value="<%= loggeduserdata.mo_number%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Pan number</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="pan_number"
                                                                    value="<%= loggeduserdata.pan_number%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Aadhar Numbers</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="number" disabled class="form-control text-dark" name="aadhar_number"
                                                                    value="<%= loggeduserdata.aadhar_number%>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Address</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="add_1"
                                                                    value="<%= loggeduserdata.add_1 %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Address2</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="add_2"
                                                                    value="<%= loggeduserdata.add_2 %>">
                                                            </div>
                                                        </div>
                            
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">DOB</h6>
                                                            </div>
                                                            <% let DOB =new Date(loggeduserdata.dob ) %>
                                                           <% const dob = DOB.toISOString().split('T')[0].split("-").reverse().join("-") %>
                                                          <% console.log(dob) %>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="dob"
                                                                    value="<%= dob %>">
                                                            </div>
                                                        </div>
                                                     
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">DOJ</h6>
                                                            </div>
                                                            <% let DOJ =new Date(loggeduserdata.doj ) %>
                                                            <% const doj = DOJ.toISOString().split('T')[0].split("-").reverse().join("-") %>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="doj"
                                                                    value="<%= doj %>">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-sm-3">
                                                                <h6 class="mb-0">Gender</h6>
                                                            </div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="text" disabled class="form-control text-dark" name="doj"
                                                                    value="<%= loggeduserdata.gender %>">
                                                            </div>
                                                        </div>
                            
                            
                            
                                                        <!-- <div class="row">
                                                            <div class="col-sm-3"></div>
                                                            <div class="col-sm-9 text-secondary">
                                                                <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                                            </div>
                                                        </div> -->
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <%- include('partials/footer.ejs') %>

    </body>

</html>
<script>
    if (genderValue == "male") {
        $('#gender_male').prop('checked', true);
    } else if (genderValue == "female") {
        $('#gender_female').prop('checked', true);
    } else {
        $('#gender_other').prop('checked', true);
    }
</script>
 <script>
    $('#file').change(function () {
        $('#target').submit();
    });

</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }



</script>
