<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row ">
                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                                <% if(addStatus==true){%>
                                                   <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c href="addProjects">+Create New Project </a> 
                                                   <% } %>

                                                 <h1 class="card-title">Projects </h4>
                                              
                                                <div class="table-responsive">
                                                    <table class="table" id="myTable">
                                                        <thead>
                                                            <tr>
                                                             
                                                                <th>#</th>
                                                                <th>Title</th>
                                                                <th>Short Description</th>
                                                                <th>Start Date</th>
                                                                <th>End Date</th>
                                                                <th>Status</th>
                                                                <th>Technology</th>
                                                                <th>Users</th>
                                                                <th>Project Type</th>
                                                                <th>Action</th> 
                                                            </tr>
                                                        </thead>
                                                        <% if(sess.userData.test[0].role_name=="Admin") { %>
                                                            <tbody>
                                                                <% if (adminProjectData) { %>
                                                                        <% var i=1; %>
                                                                            <% adminProjectData.forEach(function(u) { %>
                                                                
                                                                                <tr>
                                                                                    <td>
                                                                                        <%= (i++) %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.title %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.short_description %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.start_date %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.end_date %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.status %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.technology %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <% u.user.forEach(function(r) { %>
                                                                                            <% if(u.user.length> 1 ){ %>
                                                                                                <%= r.firstname %>,
                                                                                                    <% }else{ %>
                                                                                                        <%= r.firstname %>
                                                                                                            <% } %>
                                                                
                                                                                                                <% }) %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%= u.project_type %>
                                                                                    </td>
                                                                                    <td>
                                                                                        <% if(updateStatus==true){%>
                                                                                            <a href="/editProject/<%= u._id %>" class="btn btn-lg"><i
                                                                                                class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>
                                                                                                <% } %>
                                                                                                <% if(deleteStatus==true){%>
                                                                                                <a href="/deleteproject/<%= u._id %>" data-toggle="modal"
                                                                                            onclick="return openModal('<%= u._id %>')" class="btn btn-lg"><i
                                                                                                class="fas fa-trash-alt fa-2x text-danger"></i></a>
                                                                                                <%}%>
                                                                                    </td>
    
    
                                                                                    <div class="modal" id="myModal_<%= u._id %>">
                                                                                        <div class="modal-dialog">
                                                                                            <div class="modal-content">
                                                                                                <!-- <div class="icon-box"> -->
                                                                                                    <!-- </div> -->
    
                                                                                                    <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                                                                                    <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                                                                                    <h4 class="modal-title">Are you sure you
                                                                                                        want to delete this Project ??</h4>
                                                                                                        <div class="text-center bg-white pt-4">
                                                                                                            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a
                                                                                                                class="Close" style="text-decoration: none;">No</a></button>
                                                                                                             
                                                                                                                <button class="btn btn-danger btn-lg  ml-3"><a class="text-white"  style="text-decoration: none;" class="Yes"
                                                                                                                    href="/deleteproject/<%= u._id %>">Yes</a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </tr>
                                                                                <% }) %>
                                                                                    <% } %>
    
                                                            </tbody>
                                                            <% }else{ %>
                                                        <tbody>
                                                            <% if (projectsData) { %>
                                                                    <% var i=1; %>
                                                                        <% projectsData.forEach(function(u) { %>
                                                            
                                                                            <tr>
                                                                                <td>
                                                                                    <%= (i++) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.title %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.short_description %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.start_date %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.end_date %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.status %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.technology %>
                                                                                </td>
                                                                                <td>
                                                                                    <% u.user.forEach(function(r) { %>
                                                                                        <% if(u.user.length> 1 ){ %>
                                                                                            <%= r.firstname %>,
                                                                                                <% }else{ %>
                                                                                                    <%= r.firstname %>
                                                                                                        <% } %>
                                                            
                                                                                                            <% }) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= u.project_type %>
                                                                                </td>
                                                                                <td>
                                                                                    <% if(updateStatus==true){%>
                                                                                        <a href="/editProject/<%= u._id %>" class="btn btn-lg"><i
                                                                                            class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>
                                                                                            <% } %>
                                                                                            <% if(deleteStatus==true){%>
                                                                                            <a href="/deleteproject/<%= u._id %>" data-toggle="modal"
                                                                                        onclick="return openModal('<%= u._id %>')" class="btn btn-lg"><i
                                                                                            class="fas fa-trash-alt fa-2x text-danger"></i></a>
                                                                                            <%}%>
                                                                                </td>


                                                                                <div class="modal" id="myModal_<%= u._id %>">
                                                                                    <div class="modal-dialog">
                                                                                        <div class="modal-content">
                                                                                            <!-- <div class="icon-box"> -->
                                                                                                <!-- </div> -->

                                                                                                <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                                                                                <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                                                                                <h4 class="modal-title">Are you sure you
                                                                                                    want to delete this Project ??</h4>
                                                                                                    <div class="text-center bg-white pt-4">
                                                                                                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a
                                                                                                            class="Close" style="text-decoration: none;">No</a></button>
                                                                                                         
                                                                                                            <button class="btn btn-danger btn-lg  ml-3"><a class="text-white"  style="text-decoration: none;" class="Yes"
                                                                                                                href="/deleteproject/<%= u._id %>">Yes</a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </tr>
                                                                            <% }) %>
                                                                                <% } %>

                                                        </tbody>
                                                        <% } %>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>
    </body>

</html>
<script>
      function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }
</script>