<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <section class="content">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1 class="card-title">Add Role Permission</h1>
                                        </div>


                                        <% if(succRole.length> 0) {
                                            %>
                                            <div class="alert alert-success font-weight-bold text-center" role="alert">
                                                <%= succRole%>
                                                    <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                            <% } %>

                                                <h4 class="ml-3">
                                                    Role :<span class="text-danger ml-2">
                                                        <%= roledata.role_name%>
                                                    </span> </h4>

                                                <div class="col-12">
                                                    <div class="card-body">
                                                        <form method="post" action=""><br>
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <% if (permissionData) { %>
                                                                            <% for(var i=0; i< permissionData.length ;
                                                                                i++ ){ %>
                                                                                <% var isChecked='' %>
                                                                                    <% if(roleData.includes(permissionData[i]._id.toString())){
                                                                                        %>
                                                                                        <% isChecked='checked' %>
                                                                                            <% } %>
                                                                                                <div class="col-3">
                                                                                                    <input
                                                                                                        type="checkbox"
                                                                                                        id=""
                                                                                                        name="permission_id"
                                                                                                        value="<%= permissionData[i]._id %>"
                                                                                                        <%=isChecked %>>

                                                                                                    <%= permissionData[i].permission_name
                                                                                                        %>
                                                                                                </div>
                                                                                                <% } %>
                                                                                                    <% } %>
                                                                    </div>
                                                                </div>

                                                                <input type="hidden" class="form-control" name="role_id"
                                                                    id="role_id" value="<%= roledata._id%>">

                                                            </div>
                                                            <!-- <input type="hidden" class="form-control" name="role_id" id="role_id"
                                    value="<%= roledata._id%>"> -->

                                                    </div>
                                                    <div class="col-12 mt-5">
                                                        <button type="submit" name="submit" id="submit"
                                                            class="btn btn-primary">Submit</button>
                                                        <a class="btn btn-danger" href="/roleListing">Back</a>
                                                    </div>

                                                    </form>
                                                </div>
                                    </div>
                                </section>
                            </div>
                            <%- include('partials/footer.ejs') %>
    </body>

</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }

</script>