
<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
   

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <div class="row ">
                                    <div class="col-12 grid-margin">
                                        <div class="card">
                                            <div class="card-body">
                                                <% if(addStatus==true){%>
                                                <a class="nav-link btn btn-success create-new-button float-right"
                                                        id="createbuttonDropdown" c href="/addtask">+ Add Task</a>
                                                        <%}%>
                                                 <h1 class="card-title">Task </h4>

                                                <div class="table-responsive">
                                                    <table class="table" id="myTable">
                                                        <thead>
                                                            <tr>
                                                    <th>#</th>
                                                    <th>project name</th>
                                                    <th>user name</th>
                                                    <th>Title</th>
                                                    <th>Description</th>
                                                    <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <% if(sess.userData.test[0].role_name == "Admin"){%>
                                                        <tbody>
                                                            <% if (adminTaskdata) { %>
                                                                <% var i=1; %>
                                                                    <% adminTaskdata.forEach(function(u) { %>
                                                            
                                                                        <tr>
                                                                            <td>
                                                                                <%= (i++) %>
                                                                            </td>
                                                                            <td>
                                                                                <% u.test.forEach(function(r) { %>
                                                                                    <%= r.title %>
                                                                                        <% }) %>
                                                                            </td>
                                                                            <td>
                                                                                <% u.test1.forEach(function(r) { %>
                                                                                    <%= r.firstname %>
                                                                                        <% }) %>
                                                                            </td>
                                                            
                                                                            <td>
                                                                                <%= u.title %>
                                                                            </td>
                                                                            <td>
                                                                                <%= u.short_description %>
                                                                            </td>
                                                            
                                                                            <td>
                                                                            <% if(updateStatus==true){%>
                                                                                <a href="/editTask/<%= u._id %>" class="btn btn-lg"><i class="fa-solid fa-pen-to-square fa-2x text-primary"
                                                                                    aria-hidden="true"></i></a>
                                                                                    <%}%>
                                                                                    <% if(deleteStatus==true){%>
                                                                                        <a href="/deleteTask/<%= u._id %>" data-toggle="modal" onclick="return openModal('<%= u.id %>')"
                                                                                            class="btn btn-lg"><i class="fas fa-trash-alt fa-2x text-danger" aria-hidden="true"></i></a>
                                                                                            <%}%>
                                                            
                                                                            </td>
                                                                            <div class="modal" id="myModal_<%= u.id %>">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!-- <div class="icon-box"> -->
                                                                                            <!-- </div> -->
                                              
                                                                                            <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                                                                            <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                                                                            <h4 class="modal-title">Are you sure you
                                                                                                want to delete this Task ??</h4>
                                                                                                <div class="text-center bg-white pt-4">
                                                                                                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a
                                                                                                        class="Close" style="text-decoration: none;">No</a></button>
                                                                                                        
                                                                                                        <button class="btn btn-danger btn-lg  ml-3"><a class="text-white"  style="text-decoration: none;" class="Yes"
                                                                                                            href="/deleteTask/<%= u._id %>">Yes</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </tr>
                                                                        <% }) %>
                                                                            <% } %>
                                
                                                        </tbody>
                                                        <%}else{%>
                                                        <tbody>
                                                            <% if (taskData) { %>
                                                                <% var i=1; %>
                                                                    <% taskData.forEach(function(u) { %>
                                                            
                                                                        <tr>
                                                                            <td>
                                                                                <%= (i++) %>
                                                                            </td>
                                                                            <td>
                                                                                <% u.test.forEach(function(r) { %>
                                                                                    <%= r.title %>
                                                                                        <% }) %>
                                                                            </td>
                                                                            <td>
                                                                                <% u.test1.forEach(function(r) { %>
                                                                                    <%= r.firstname %>
                                                                                        <% }) %>
                                                                            </td>
                                                            
                                                                            <td>
                                                                                <%= u.title %>
                                                                            </td>
                                                                            <td>
                                                                                <%= u.short_description %>
                                                                            </td>
                                                            
                                                                            <td>
                                                                            <% if(updateStatus==true){%>
                                                                                <a href="/editTask/<%= u._id %>" class="btn btn-lg"><i class="fa-solid fa-pen-to-square fa-2x text-primary"
                                                                                    aria-hidden="true"></i></a>
                                                                                    <%}%>
                                                                                    <% if(deleteStatus==true){%>
                                                                                        <a href="/deleteTask/<%= u._id %>" data-toggle="modal" onclick="return openModal('<%= u.id %>')"
                                                                                            class="btn btn-lg"><i class="fas fa-trash-alt fa-2x text-danger" aria-hidden="true"></i></a>
                                                                                            <%}%>
                                                            
                                                                            </td>
                                                                            <div class="modal" id="myModal_<%= u.id %>">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!-- <div class="icon-box"> -->
                                                                                            <!-- </div> -->
                                              
                                                                                            <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                                                                            <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                                                                            <h4 class="modal-title">Are you sure you
                                                                                                want to delete this Task ??</h4>
                                                                                                <div class="text-center bg-white pt-4">
                                                                                                    <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a
                                                                                                        class="Close" style="text-decoration: none;">No</a></button>
                                                                                                        
                                                                                                        <button class="btn btn-danger btn-lg  ml-3"><a class="text-white"  style="text-decoration: none;" class="Yes"
                                                                                                            href="/deleteTask/<%= u._id %>">Yes</a>
                                                                                                        </div>
                                                                                                    </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </tr>
                                                                        <% }) %>
                                                                            <% } %>
                                
                                                        </tbody>
                                                        <%}%>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('partials/footer.ejs') %>
                               
    </body>

</html>
<script>

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }



</script>