<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    
                   <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c href="/addRole">+ Add Role </a> 
                     <h1 class="card-title">Roles</h4>
                    <% if(success.length> 0) {
                      %>
                      <div class="alert alert-dark alert-dismissible fade show text-danger ml-3 pl-3" role="alert">
                        <strong> **<%= success %> </strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <% } %>
                      <!-- <a href="/addHoliday" style="float:right;"><button class="btn btn-dark"><i
                            class="fas fa-plus"></i></button></a> -->
                    <div class="table-responsive">
                      <table class="table" id="myTable">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (roleData) { %>
                            <% for(var i=0; i < roleData.length; i++) { %>
                              <tr>
                                <td>
                                  <%= (i + 1) %>
                                </td>
                                <td>
                                  <%= roleData[i].role_name %>
                                </td>
                                <td>
                                  <%= roleData[i].role_description %>
                                </td>
                                <td>
                                  <a href="/rolepermission/<%= roleData[i]._id %>" class="btn btn-secondary">
                                    <i class="fa-solid fa-shield-virus"></i></a>
                                  <a href="/editRole/<%= roleData[i]._id %>" class="btn btn-primary"><i
                                      class="fa-solid fa-pen-to-square"></i></a>
  
  
                                  <a href="/deleteRole/<%= roleData[i]._id %>" data-toggle="modal"
                                    onclick="return openModal('<%= roleData[i]._id %>')" class="btn btn-danger"><i
                                      class="fas fa-trash-alt"></i></a>
                                </td>
                                <div class="modal" id="myModal_<%= roleData[i]._id %>">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title">Are you sure you want to delete this Role</h4>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger " data-dismiss="modal"><a
                                            class="Close">No</a></button>
                                        <button class="btn btn-success"><a class="text-white" class="Yes"
                                            href="/deleteRole/<%= roleData[i]._id %>">Yes</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </tr>
                              <% } %>
                                <% } %>
                        </tbody>
                      </table>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>


  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

</script>

