<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>

    <body>
        <div class="container-scroller">
            <%- include('partials/sidebar.ejs') %>
                <div class="container-fluid page-body-wrapper">
                    <%- include('partials/navbar.ejs') %>
                        <div class="main-panel">
                            <div class="content-wrapper">
                                <section class="content">
                                    <div class="card">
                                        <div class="card-header">
                                            <h1 class="card-title">Add User Permission</h1>
                                        </div>
                                                <% if(succUser.length> 0) {
                                                    %>
                                                    <div class="alert alert-success font-weight-bold text-center" role="alert">
                                                       <span class="text-center"><%= succUser %></span> 
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                    </div>
                                                    <% } %>
                                        <h4 class="ml-2">Username:<%= roledata.user_name %>
                                        </h4>
                                        <% if (role) { %>
                                            <% var i=1; %>
                                                <% role.forEach(function(u) { %>

                                                    <tr>

                                                        <td>
                                                            <% u.test.forEach(function(r) { %>
                                                                <h4 class="ml-2">RoleName:<%=
                                                                        r.role_name %>
                                                                </h4>
                                                                <% }) %>
                                                        </td>
                                                        <% }) %>
                                                            <% } %>
                                                                <div class="col-12">
                                                                    <div class="card-body">
                                                                        <form method="post" action=""><br>
                                                                            <div class="col-12">
                                                                                <div class="row">
                                                                                    <% if (allPermmission) { %>
                                                                                        <% for(var i=0; i< allPermmission.length ;
                                                                                            i++ ){ %>
                                                                                            %>
                                                                                            <% var isChecked='' %>
                                                                                                <%
                                                                                                    if(userPermissiondata.length>
                                                                                                    0){ %>
                                                                                                    <% if(userHaspermissions.includes(allPermmission[i]._id.toString()) || roleHasPermissions.includes(allPermmission[i]._id.toString())){
                                                                                                        %>
                                                                                                        <% isChecked='checked'
                                                                                                            %>
                                                                                                            <% } %>
                                                                                                                <% } else
                                                                                                                    { %>
                                                                                                                    <% var
                                                                                                                        isChecked=''
                                                                                                                        %>
                                                                                                                        <% if(roleHasPermissions.includes(allPermmission[i]._id.toString())){
                                                                                                                            %>
                                                                                                                            <% isChecked='checked'
                                                                                                                                %>
                                                                                                                                <% }
                                                                                                                                    %>
                                                                                                                                    <% }
                                                                                                                                        %>
                                                                                                                                        <div
                                                                                                                                            class="col-3">
                                                                                                                                            <input
                                                                                                                                                type="checkbox"
                                                                                                                                                id=""
                                                                                                                                                name="permission_id"
                                                                                                                                                class="checkBoxClass"
                                                                                                                                                value="<%= allPermmission[i]._id %>"
                                                                                                                                                <%=isChecked
                                                                                                                                                %>>

                                                                                                                                            <%= allPermmission[i].permission_name
                                                                                                                                                %>
                                                                                                                                        </div>
                                                                                                                                        <% }
                                                                                                                                            %>
                                                                                                                                            <% }
                                                                                                                                                %>
                                                                                </div>
                                                                            </div>

                                                                    </div>
                                                                </div>
                                                                <input type="hidden" class="form-control" name="role_id"
                                                                    id="user_id" value="<%= roledata.role_id%>">

                                                                <input type="hidden" class="form-control" name="user_id"
                                                                    id="user_id" value="<%= roledata._id%>">
                                    </div>
                                    <div class="col-12 mt-2">
                                        <button type="submit" name="submit" id="submit"
                                            class="btn btn-primary">Submit</button>
                                        <a class="btn btn-danger" href="/userListing">Back</a>
                                    </div>
                                    </form>
                                </section>
                            </div>
                            <%- include('partials/footer.ejs') %>
    </body>

</html>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    function openModal(modal_id) {
        //$('.confirm-delete').addClass('hide');
        $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
        $('#myModal_' + modal_id).modal('show');
    }

</script>