<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <div class="container-scroller">
      <%- include('partials/sidebar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <%- include('partials/navbar.ejs') %>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <% if(addStatus == true){ %>
                   <a class="nav-link btn btn-success create-new-button float-right" id="createbuttonDropdown" c href="addUser">+ Add User </a> 
                   <% } %>
                  <a href="/getxlsxfile" style="float:right;"> <span class="mr-3"><img src="/public/images/xlsx.png" style="width: 45px;"
                        alt=""></a></span>
                     <h1 class="card-title">Employee</h4>
                      <!-- <a href="/addHoliday" style="float:right;"><button class="btn btn-dark"><i
                            class="fas fa-plus"></i></button></a> -->
                    <div class="table-responsive">
                      <table class="table" id="myTable">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Employee Image</th>
                            <th>Employee Name</th>
                            <th>Employee Code</th>              
                            <th>Role</th>
                            <th>Email</th>
                            <th> MO.Number</th>
                            <th>Action</th>
  
                          </tr>
                        </thead>
                        <tbody>
                          <% if (data) { %>
                            <% var i=1; %>
                              <% data.forEach(function(u) { %>
  
                                <tr>
                                  <td>
                                    <%= (i++) %>
                                  </td>
                                  <td>
                                    <a href="/viewUserDetail/<%= u._id %>">
                                   <img src="/public/images/<%= u.photo%>" class="rounded" width="200px" height="200px" style="margin-left: 34px;" >
                                  </a>
                                  </td>
                                  <td>
                                    <%= u.firstname %>
                                  </td>
                                  <td>
                                    <%= u.emp_code %>
                                  </td>
                                  <td>
                                    <% u.test.forEach(function(r) { %>
                                      <%= r.role_name %>
                                        <% }) %>
                                  </td>
                                  <td>
                                    <%= u.personal_email %>
                                  </td>
                                  <td>
                                    <%= u.mo_number %>
                                  </td>
                              
                                  <td>
                                    <% if(userpermStatus == true){ %>
                                    <a href="/userpermission/<%= u._id %>" class="btn "><i class="fa-solid fa-user-shield fa-2x text-warning"></i></a>
                                   <% } %>
                                    <% if(updateStatus == true){ %>
                                    <a href="/editUser/<%= u._id %>" class="btn btn-lg"><i
                                        class="fa-solid fa-pen-to-square fa-2x text-primary"></i></a>
                                        <% } %>
                                    <!-- <a href="/viewUserDetail/<%= u._id %>" class="btn btn-lg"><i class="fa fa-eye"
                                        aria-hidden="true"></i></a> -->
                                        <% if(deleteStatus == true){ %>
                                    <a href="/deleteUser/<%= u._id %>" data-toggle="modal"
                                      onclick="return openModal('<%= u._id %>')" class="btn btn-lg"><i
                                        class="fas fa-trash-alt fa-2x text-danger"></i></a>
                                        <% } %>
                                  </td>
                                  <div class="modal" id="myModal_<%= u._id %>">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- <div class="icon-box"> -->
                                                <!-- </div> -->

                                                <i class="fa-regular fa-circle-xmark fa-5x bg-white pt-2 text-danger"></i>
                                                <div class=" bg-white text-black text-center pt-4" style="height: 170px;">
                                                <h4 class="modal-title">Are you sure you
                                                    want to delete this Employee ??</h4>
                                                    <div class="text-center bg-white pt-4">
                                                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><a
                                                            class="Close" style="text-decoration: none;">No</a></button>
                                                          
                                                            <button class="btn btn-danger btn-lg  ml-3"><a class="text-white"  style="text-decoration: none;" class="Yes"
                                                                href="/deleteUser/<%= u._id %>">Yes</a>
                                                            </div>
                                                        </div>
                                        </div>
                                    </div>
                                </div>
                                </tr>
                                <% }) %>
                                  <% } %>
                        </tbody>
                      </table>

                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include('partials/footer.ejs') %>
  </body>
</html> 
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
      });
  function openModal(modal_id) {
    //$('.confirm-delete').addClass('hide');
    $('#myModal_' + modal_id + '.modal-header, .modal-footer, .modal-body').removeClass('hide');
    $('#myModal_' + modal_id).modal('show');
  }

</script>

