<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bootstrap 5 404 page with image</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="bg-dark">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center row">
                <div class=" col-md-6">
                    <img src="public/images/pngegg.png" alt=""
                        class="img-fluid">
                </div>
                <div class="col-md-6" style="margin-top: 180px;">
                    <p class="fs-3 text-white"> <span class="text-danger">Opps!</span > Page not found.</p>
                    <p class="lead text-white ">
                        The page you’re looking for doesn’t exist.
                    </p>
                    <a href="/index" class="btn btn-primary">Go Home</a>
                </div>

            </div>
        </div>
    </body>

</html>