<footer class="footer-section bg-lighter rel z-1 mt-5">
	<div class="row justify-content-between">
    <div class="col-xl-3 col-sm-6 col-7 col-small">
      <div class="footer-widget about-widget">
        <div class="footer-logo mb-20">
          <a href="https://codecrewinfotech.com"><img src="https://codecrewinfotech.com/images/logos/logo-cc.png" alt="Logo" width="300"></a>
        </div>
        <p>Codecrew was founded in the beginning of 2018 with the goal of developing user focused website and mobile applications.</p>
        <a href="https://codecrewinfotech.com/about-us" class="read-more">Read More <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
    <!-- <div class="col-xl-2 col-sm-4 col-5 col-small">
      <div class="footer-widget link-widget">
        <h4 class="footer-title">About</h4>
        <ul class="list-style-two">
          <li><a href="javasctipt:void(0)">Success History</a></li>
          <li><a href="javasctipt:void(0)">Meet The Team</a></li>
          <li><a href="javasctipt:void(0)">Latest News</a></li>
          <li><a href="javasctipt:void(0)">Need a Career?</a></li>
          <li><a href="javasctipt:void(0)">Popular Service</a></li>
        </ul>
      </div>
    </div> -->
    <div class="col-xl-4 col-md-8">
      <div class="footer-widget link-widget">
        <h4 class="footer-title">Quick Links</h4>
        <ul class="list-style-two two-column">
                    <li><a href="https://codecrewinfotech.com/services/web-cloud">Web &amp; Cloud Applications </a></li>
                    <li><a href="https://codecrewinfotech.com/services/mobile-app-development">Mobile App Development </a></li>
                    <li><a href="https://codecrewinfotech.com/services/social-media-marketing">Social Media Marketing </a></li>
                    <li><a href="https://codecrewinfotech.com/services/web-designing">Web Designing </a></li>
                    <li><a href="https://codecrewinfotech.com/services/seo-marketing">SEO Marketing </a></li>
                    <li><a href="https://codecrewinfotech.com/services/custom-development">Custom Development </a></li>
                  <li><a href="https://codecrewinfotech.com/sitemap.xml">Sitemap </a></li>
        </ul>
      </div>
    </div>
    <div class="col-xl-3 col-md-4">
      <div class="footer-widget contact-widget">
        <h4 class="footer-title">Get in Touch</h4>
        <ul class="list-style-three">
          <li><i class="fas fa-map-marker-alt"></i> 
          <span>209 - Avadh Pride, Nirant Cross Road,</span>
          <span style="margin-left: 36px;">Vastral, Ahmedabad - 382418</span>
          </li>
          <li><i class="fas fa-envelope-open"></i> <a href="mailto:info@codecrewinfotech.com">info@codecrewinfotech.com</a></li>
          <li><i class="fas fa-phone"></i> Call : <a href="callto:079-49175990">079-49175990</a></li>
        </ul>
        <div class="social-style-one mt-25">
                                              <a href="https://in.linkedin.com/company/codecrew-infotech-pvt-ltd" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </div>
      </div>
    </div>
  </div>  
	<!-- <img class="dots-shape" src="https://codecrewinfotech.com/images/shapes/dots.png" alt="Shape">
	<img class="tringle-shape" src="https://codecrewinfotech.com/images/shapes/tringle.png" alt="Shape">
	<img class="close-shape" src="https://codecrewinfotech.com/images/shapes/close.png" alt="Shape">
	<img class="circle-shape" src="https://codecrewinfotech.com/images/shapes/circle.png" alt="Shape">
	<div class="left-circles"></div>
	<div class="right-circles"></div> -->
</footer>
   <!-- partial -->
 </div>
 <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<!-- <script src="assets/vendors/js/vendor.bundle.base.js"></script> -->
<!-- endinject -->
 <!-- Plugin js for this page -->
<!-- <script src="assets/vendors/chart.js/Chart.min.js"></script>
<script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->
<!-- <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script> -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="assets/js/off-canvas.js"></script>
<!-- <script src="assets/js/hoverable-collapse.js"></script> -->
<script src="assets/js/misc.js"></script>
<!-- <script src="assets/js/settings.js"></script> -->
<!-- <script src="assets/js/todolist.js"></script> --> 
<!-- endinject -->
<!-- Custom js for this page -->
<script src="assets/js/dashboard.js"></script>
<script src="/js/jquery.js"></script>

<script src="/js/vendor-all.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>

<script src="/js/pcoded.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
 <script src="/js/jquery.dataTables.min.js"></script> 
 <script src="/js/snadip.js"></script> 
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
  </script>

