<footer class="footer-section bg-lighter rel z-1 mt-5">
<h3 class="text-center" id="footer"></h3>
</footer>
   <!-- partial -->
 </div>
 <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<!-- <script src="assets/vendors/js/vendor.bundle.base.js"></script> -->
<!-- endinject -->
 <!-- Plugin js for this page -->
<!-- <script src="assets/vendors/chart.js/Chart.min.js"></script>
<script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
<script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
<script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script> -->
<!-- <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script> -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/js/off-canvas.js"></script>
<!-- <script src="assets/js/hoverable-collapse.js"></script> -->
<script src="/assets/js/misc.js"></script>
<!-- <script src="assets/js/settings.js"></script> -->
<!-- <script src="assets/js/todolist.js"></script> --> 
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/js/dashboard.js"></script>
<script src="/js/jquery.js"></script>

<script src="/js/vendor-all.min.js"></script>
<script src="/js/plugins/bootstrap.min.js"></script>

<script src="/js/pcoded.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
 <script src="/js/jquery.dataTables.min.js"></script> 
 <script src="/js/snadip.js"></script> 
<script>
  $(document).ready(function () {
    $('#myTable').DataTable();
  });
  </script>



  <script>

    $(document).ready(function () {
      $.ajax({
        type: "POST",
        url: "/api/getSettingData",
        data: { 'key': "footer" },
        dataType: "json",
        success: function (response) {

          $("#footer").html('');
        
          // $("#footer").append('<a href="/index"><img src = "/public/images/' + response + '" width ="220px" ></a>');
          $("#footer").append('<h4>'+response+'</h4>');
        }
      });
    });

  </script>
  

