<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
            <span>Gold Member</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/index">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/userListing">
        <span class="menu-icon">
          <i class="fa fa-users"></i>
        </span>
        <span class="menu-title">Employee</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/roleListing">
        <span class="menu-icon">
          <i class="fa-solid fa-virus"></i>
        </span>
        <span class="menu-title">Role</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/permissionListing">
        <span class="menu-icon">
          <i class="fa fa-shield"></i>
        </span>
        <span class="menu-title">Permission</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/projectListing">
        <span class="menu-icon">
          <i class="fa-solid fa-diagram-project"></i>
        </span>
        <span class="menu-title">Project</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/taskListing">
        <span class="menu-icon">
          <i class="fa-solid fa-list-check"></i>
        </span>
        <span class="menu-title">Task</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/leavesListing">
        <span class="menu-icon">
          <i class="fa-brands fa-canadian-maple-leaf"></i>
        </span>
        <span class="menu-title">All Leavse</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="leavesList">
        <span class="menu-icon">
          <i class="fa-solid fa-right-to-bracket"></i>
        </span>
        <span class="menu-title">Leavse</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/timeEntryListing">
        <span class="menu-icon">
          <i class="fa-solid fa-list-check"></i>
        </span>
        <span class="menu-title">Time Entry</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/holidayListing">
        <span class="menu-icon">
          <i class="fa-solid fa-calendar-days"></i>
        </span>
        <span class="menu-title">Holiday</span>
      </a>
    </li>



  </ul>
</nav>